#**##macro( condition1 $then1 $else1 $type1 )
#**##if( ($type1 == 2) )## FAILURE
#*   *#!fujaba__Success##
#**##elseif ( ($type1 == 5) )## ELSE
#*   *#!($else1.Guard.BoolExpr)##
#**##elseif ( ($type1 == 6) )## BOOL
#*   *#$then1.Guard.BoolExpr##
#**##else
#*   *#fujaba__Success##
#**##end
#**##end
#**##set( $sel = $token )
#**##set( $thenTrans = $sel.ThenUMLTransition )
#**##set( $elseTrans = $sel.ElseUMLTransition )
#**##set( $comment = $thenTrans.Comment.Text )
#**##set( $transType = $sel.getGuardType($thenTrans) )
#**##set( $condition = "#condition1( $thenTrans $elseTrans $transType )" )
#**##set( $then = $utility.indent("   ",$!then) )
#**##set( $else = $utility.indent("   ",$!else) )
#**#$!children##flowActivity
#**##if( $comment )
#**#// $comment
#**##end
#**#if ($condition)
#**#{
#**#$then
#**#}
#**##if( $else )
#**#else
#**#{
#**#$else
#**#}
#**##end