<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.moflon.org/gt/mosl/MOSLGT"
			class = "org.moflon.gt.mosl.moslgt.MoslgtPackage"
			genModel = "model/generated/MOSLGT.genmodel" />
	</extension>
</plugin>
