<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.moflon.ide.debug.core.launcher.MoflonDebugLaunchDelegate"
            id="org.moflon.ide.debug.core.launchType"
            modes="debug"
            name="eMoflon Application"
            sourceLocatorId="org.moflon.ide.debug.core.javaSourceLocator"
            sourcePathComputerId="org.moflon.ide.debug.core.javaSourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/moflonSmallDebug.png"
            configTypeID="org.moflon.ide.debug.core.launchType"
            id="org.moflon.ide.debug.core.typeImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.jdt.internal.launching.JavaSourceLookupDirector"
            id="org.moflon.ide.debug.core.javaSourceLocator"
            name="name">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.eclipse.jdt.launching.sourcelookup.containers.JavaSourcePathComputer"
            id="org.moflon.ide.debug.core.javaSourcePathComputer">
      </sourcePathComputer>
   </extension>
</plugin>
