#**##set( $comment = $utility.replaceTags($elem.Comment.Text) )
#**##if( $comment )
#*   *#  <eAnnotations source="http://www.eclipse.org/emf/2002/GenModel">
#*   *#    <details key="documentation" value="$comment"/>
#*   *#  </eAnnotations>
#**##end
#**##foreach( $tag in $elem.iteratorOfTags() )
#*   *#  <eAnnotations source="$tag.name">
#*   *##foreach( $key in $tag.keysOfValues() )
#*      *#    <details key="$key" value="$tag.getFromValues($key)"/>
#*   *##end
#*   *#  </eAnnotations>
#**##end