#**##if( ($removeYou || !$superClass || $superClass.hasKeyInStereotypes("reference")) && !$remote )
#*   *##if( !$class.hasKeyInMethods("removeYou()") )## do not generate removeYou() if it is specified by the user
#*      *##set ( $firePropertyChange = $class.hasKeyInStereotypes("JavaBean") )
#*      *#   public void removeYou()##
#*      *##if ( $interface )
#*         *#;
#*      *##else
#*         *#
#*         *#   {
#*         *#$!removeYou##
#*         *##if( $superClass )
#*            *##set( $superClassStyle = $superClass.InheritedCodeStyle() )
#*            *##if( !$superClassStyle && (!$superClass.hasKeyInStereotypes("reference") || $superClass.hasKeyInStereotypes("ReferenceWithRemoveYou")))
#*               *##set( $superClassStyle = "$lang/default:" )
#*            *##end
#*            *##if( $superClassStyle )
#*               *##set( $name = "super" )
#*               *#      #parse("$!{superClassStyle}storyPattern/object/deleteObject.vm" )
#*               *#
#*               *##set ( $firePropertyChange = false )
#*            *##end
#*         *##end
#*         *##if ( $firePropertyChange )
#*            *#
#*            *#      // fire property change
#*            *#      getPropertyChangeSupport().firePropertyChange("removeYou", this, null);
#*         *##end
#*         *#   }
#*      *##end
#*   *##end
#**##end
