<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.ui.commands">
    <command categoryId="org.moflon.ide.ui.commands.MainCategory" id="org.moflon.ide.metamodelevolution.core.RefactorCommand" name="Refactor"/>
  </extension>
  <extension point="org.eclipse.ui.bindings">
    <key commandId="org.moflon.ide.metamodelevolution.core.RefactorCommand" contextId="org.eclipse.ui.contexts.window" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M2+M3+E R"/>
  </extension>
  <extension point="org.moflon.extensionpoints.postmetamodelbuilderhook">
    <hook class="org.moflon.ide.metamodelevolution.core.MetamodelCoevolutionPostMetamodelBuilderHook"/>
  </extension>
  <extension point="org.moflon.extensionpoints.premetamodelbuilderhook">
    <hook class="org.moflon.ide.metamodelevolution.core.MetamodelCoevolutionPreMetamodelBuilderHook"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.ide.metamodelevolution.core.CorePackage" genModel="model/Core.genmodel" uri="platform:/plugin/org.moflon.ide.metamodelevolution.core/model/Core.ecore"/>
  </extension>
</plugin>
