#**##set( $opComment = "stop activity" )
#**##set( $stop = $elem )
#**##set( $returnValue = $stop.ReturnValue )
#**##if( $stop.isGenerateCode() )
#*   *##if( $sdmTrace )
#*      *##if( $returnValue )
#*         *##if( not $returnValue.trim().startsWith("throw ") )
#*            *#SDMTraceUtil.logOperationExit(__sdmTracing_context, __sdmTracing_stw, this, __sdmTracing_method, $returnValue );
#*         *##else
#*            *#SDMTraceUtil.logOperationExit(__sdmTracing_context, __sdmTracing_stw, this, __sdmTracing_method, null);
#*         *##end
#*      *##else
#*         *#SDMTraceUtil.logOperationExit(__sdmTracing_context, __sdmTracing_stw, this, __sdmTracing_method, null);
#*      *##end
#*   *##end
#*   *##if( $returnValue.trim().startsWith("throw ") )
#*      *#$returnValue;
#*   *##else
#*   *#return #if( $returnValue )$returnValue#end;
#*   *##end
#**##end