#**##set( $act = $elem )
#**##set( $textComment = $act.TextComment )
#**##set( $comment = $act.Comment.Text )
#**##if( $textComment )
#*   *#$utility.indent("// ",$!textComment)
#**##end
#**##if( $comment )
#*   *#$utility.indent("// ",$!comment)
#**##end
#**##set( $opComment = "story activity $!elem.storyPattern.name" )
#**#$!children