<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.sdm.compiler.democles.validation.controlflow.ControlflowPackage" genModel="model/Controlflow.genmodel" uri="platform:/plugin/org.moflon.sdm.compiler.democles.validation.controlflow/model/Controlflow.ecore"/>
  </extension>
</plugin>
