#**##parse("$lang/default:storyPattern/object/import.vm" )
#**##set( $class = $object.InstanceOf )
#**##if ( $createVar )
#*   *##if ( ${class.inheritedCodeStyle} )#set( $style = "$lang/${class.inheritedCodeStyle.name}:" )
#*   *##else#set( $style = "$lang/default:" )#end
#*      *##parse("$!{style}storyPattern/object/addVariable.vm" )
#*   *##end
#*   *##set( $opComment = "create object $name" )
#*   *#// $opComment
#*   *##if ( $optional )
#*      *#if ($name == null)
#*      *#{
#*   *##end
#*   *##parse("$!{style}storyPattern/object/createObject.vm" )
#*   *##if ( $optional )
#*      *#
#*      *#}
#*   *##end
#*   *#
#**##if( $sdmTrace )
#**#   SDMTraceUtil.logObjCreation(__sdmTracing_context, __sdmTracing_stw, "$name", ${name}.getClass(), $name);
#**##end
#**#
