#**##set( $opComment = "activity diagram" )
#**##set( $localVars = $engine.getFromInformation("localVars") )
#**##set( $needsDecls = $utility.needs_Success_And_TmpObject_VarDecl($activityDiag) )
#**##if( $needsDecls )
#*   *#boolean fujaba__Success = false;
#*   *###if( $debug )
#*      *###set( $return = $imports.addToImports("java.util.*") )
#*      *###Map<String, Object> localVars = new HashMap<String, Object>();
#*   *###end
#**##end
#**##set( $return = $localVars.removeParamsFromList($activityDiag) )
#**##foreach( $localVar in $localVars.iteratorOfLocalVars() )
#*   *##if( $localVar.Type )
#*      *##set( $typeName = $utility.getTypeAsString($localVar.Type) )
#*   *##else
#*      *##set( $typeName = $localVar.TypeName )
#*   *##end
#*   *#$typeName $localVar.Name = $localVar.DefaultValue;
#**##end
#**#
#**#$!children