#**##set( $firstParam = true )
#**##foreach( $param in $params )
#**##if( !$firstParam ), #else
#**##set( $firstParam = false )#end
#**##set( $classToImport = $param.ParamType )
#**##if ( ${classToImport.InheritedCodeStyle} )#set( $importStyle = "$lang/${classToImport.InheritedCodeStyle.Name}:" )
#**##else#set( $importStyle = "$lang/default:" )#end
#*   *##parse("$!{importStyle}classDiag/class/addClassImport.vm" )
#*   *##set( $paramType = $utility.getTypeAsString($param.ParamType) )
#*   *#${paramType}.class 
#**##end