<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
 <copyright>
 </copyright>

 $Id$
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.core.moca.processing.ProcessingPackage" genModel="model/Processing.genmodel" uri="platform:/plugin/org.moflon.core.moca.processing/model/Processing.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.core.moca.processing.compare.ComparePackage" genModel="model/Processing.genmodel" uri="platform:/plugin/org.moflon.core.moca.processing/model/Processing.ecore#//compare"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.core.moca.processing.parser.ParserPackage" genModel="model/Processing.genmodel" uri="platform:/plugin/org.moflon.core.moca.processing/model/Processing.ecore#//parser"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.core.moca.processing.unparser.UnparserPackage" genModel="model/Processing.genmodel" uri="platform:/plugin/org.moflon.core.moca.processing/model/Processing.ecore#//unparser"/>
  </extension>
</plugin>
