<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.moflon.ide.ui.perspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.moflon.ide.ui.toolbar"
               label="eMoflon Toolbar">
            <command
                  commandId="org.moflon.ide.ui.commands.MoflonDevtoolsMenuCommand"
                  icon="icons/junitmoflon.png"
                  id="org.moflon.devtools.ui.commands.toolbar.MoflonDevtoolsMenuCommand"
                  label="Install, Configure and Deploy eMoflon"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.moflon.ide.ui.definitions.isMoflonPerspective">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.moflon.devtools.ui.commands.toolbar.MoflonDevtoolsMenuCommand">
         <menu
               id="org.moflon.devtools.ui.menus.InstallAndConfigureMenu"
               label="Install Workspace">
         </menu>
          <command
               commandId="org.moflon.devtools.ui.commands.deploy.DeployCommand"
               label="Deploy eMoflon..."
               style="push">
         </command>
         
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.moflon.devtools.ui.menus.InstallAndConfigureMenu">
         <menu
               id="org.moflon.devtools.ui.menus.InstallAndConfigureHandbookExamples"
               label="eMoflon Examples">
         </menu>
         <menu
               id="org.moflon.devtools.ui.menus.InstallAndConfigureDeveloperModules"
               label="Developer Modules">
         </menu>
         <menu
               id="org.moflon.devtools.ui.menus.InstallAndConfigureTestingWorkspace"
               label="Test Workspaces">
         </menu>
         <separator
               name="xxxxxxxxxxxxxxxxxxxxxxxxxxxSeparator2"
               visible="true">
         </separator>
         <command
               commandId="org.moflon.devtools.ui.commands.install.LoadPsfFileCommand"
               label="Load Custom PSF File..."
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.OpenPsfSelectionDialog"
               label="Open PSF Selection Dialog..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.moflon.devtools.ui.menus.InstallAndConfigureHandbookExamples">
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallDemoWorkspaceCommand"
               label="Demo (Double-Linked List)"
               mnemonic="d"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="eMoflonDemoWorkspace">
            </parameter>
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part3_Start_Command"
               label="Handbook Part 3 Start"
               mnemonic="3"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="HandbookPart3Start">
            </parameter>
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part3_Final_Command"
               label="Handbook Part 3 Final"
               mnemonic="3"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="HandbookPart3Final">
            </parameter>
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part4_Start_Command"
               label="Handbook Part 4 Start"
               mnemonic="4"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="HandbookPart4Start">
            </parameter>
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookExample_GUI_Command"
               label="Handbook Learning Box GUI"
               mnemonic="g"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="HandbookGUI">
            </parameter>
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Final_Command"
               label="Handbook Final"
               mnemonic="f"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="HandbookFinal">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.moflon.devtools.ui.menus.InstallAndConfigureTestingWorkspace">
            <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceMiscCommand"
               label="Miscellaneous"
               style="push">
               <parameter
                     name="org.moflon.devtools.ui.commands.install.workspacename"
                     value="TestWorkspace_Misc">
               </parameter>
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceTGG0Command"
               label="TGG 0"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="TestWorkspace_TGG_0">
            </parameter>
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceTGG1Command"
               label="TGG 1"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="TestWorkspace_TGG_1">
            </parameter>
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceDemocles0Command"
               label="Democles 0"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="TestWorkspace_Democles_0">
            </parameter>
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTransformationZoo0Command"
               label="Transformation Zoo 0"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="TransformationZoo_0">
            </parameter>
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTransformationZoo1Command"
               label="Transformation Zoo 1"
               style="push">
            <parameter
                  name="org.moflon.devtools.ui.commands.install.workspacename"
                  value="TransformationZoo_1">
            </parameter>
         </command>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="menu:org.moflon.devtools.ui.menus.InstallAndConfigureDeveloperModules">
            <command commandId="org.moflon.devtools.ui.commands.install.InstallModulesAll" label="All Modules (without MOSL)" style="push">
               <parameter
                     name="org.moflon.devtools.ui.commands.install.workspacename"
                     value="ModuleAll">
               </parameter></command>
            <command commandId="org.moflon.devtools.ui.commands.install.InstallModulesSDMCore" label="Core and SDM Modules" style="push">
               <parameter
                     name="org.moflon.devtools.ui.commands.install.workspacename"
                     value="ModuleCoreSDM">
               </parameter></command>
            <command commandId="org.moflon.devtools.ui.commands.install.InstallModulesTGG" label="TGG Modules (incl. MOSL-TGG)" style="push">
               <parameter
                     name="org.moflon.devtools.ui.commands.install.workspacename"
                     value="ModuleTGG">
               </parameter></command>
            <command commandId="org.moflon.devtools.ui.commands.install.InstallModulesVisualization " label="Visualization Modules" style="push">
               <parameter
                     name="org.moflon.devtools.ui.commands.install.workspacename"
                     value="ModuleVisualization">
               </parameter></command>
            <command commandId="org.moflon.devtools.ui.commands.install.InstallModulesCoevolution" label="Coevolution Modules" style="push">
               <parameter
                     name="org.moflon.devtools.ui.commands.install.workspacename"
                     value="ModuleCoEvolution">
               </parameter></command>
            <command commandId="org.moflon.devtools.ui.commands.install.InstallModulesDocumentation" label="Documentation Modules" style="push">
               <parameter
                     name="org.moflon.devtools.ui.commands.install.workspacename"
                     value="ModuleDocumentation">
               </parameter></command>
            <command commandId="org.moflon.devtools.ui.commands.install.InstallModulesRest" label="IDE Modules" style="push">
               <parameter
                     name="org.moflon.devtools.ui.commands.install.workspacename"
                     value="ModuleIDE">
               </parameter></command>
            <command commandId="org.moflon.devtools.ui.commands.install.InstallModulesMeta" label="Deployment and Configuration Modules" style="push">
               <parameter
                     name="org.moflon.devtools.ui.commands.install.workspacename"
                     value="ModuleMeta">
               </parameter></command>
            <command
                  commandId="org.moflon.devtools.ui.commands.install.InstallDeveloperWorkspaceCommandUsingInstalledPSF"
                  label="Developer Workspace [OLD, DEPRECATED]"
                  style="push">
               <parameter
                     name="org.moflon.devtools.ui.commands.install.workspacename"
                     value="DeveloperWorkspace">
               </parameter>
            </command>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallModulesAll"
            name="Install IDE Modules">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
       <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallModulesMeta"
            name="Install Deployment and Configuration Modules">
          <commandParameter
                id="org.moflon.devtools.ui.commands.install.workspacename"
                name="Workspace Name"
                optional="true">
          </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.DoNothingHandler"
            id="org.moflon.ide.ui.commands.MoflonDevtoolsMenuCommand"
            name="Install, configure, and deploy Moflon">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallDeveloperWorkspaceHandlerUsingInstalledPSFs"
            id="org.moflon.devtools.ui.commands.install.InstallDeveloperWorkspaceCommandUsingInstalledPSF"
            name="Install developer workspace">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <category
            id="org.moflon.ide.ui.commands.DevelopmentCategory"
            name="Development commands">
      </category>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.deploy.DeploymentHandler"
            id="org.moflon.devtools.ui.commands.deploy.DeployCommand"
            name="Deploy local">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceMiscCommand"
            name="Install test workspace misc.">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceTGG0Command"
            name="Install test workspace TGG 0">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceTGG1Command"
            name="Install test workspace TGG 1">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceDemocles0Command"
            name="Install test workspace Democles 0">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallTransformationZoo0Command"
            name="Install transformation zoo 0">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallTransformationZoo1Command"
            name="Install transformation zoo 1">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallModulesDocumentation"
            name="Install Documentation Module">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallPsfFileHandler"
            id="org.moflon.devtools.ui.commands.install.LoadPsfFileCommand"
            name="Install: Load PSF file">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallDemoWorkspaceCommand"
            name="Demo Workspace">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part3_Start_Command"
            name="Install Example Part 3 Start">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part3_Start_Command"
            name="Install Example Part 3 Final">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part4_Start_Command"
            name="Install Example Part 4 Start">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookExample_GUI_Command"
            name="Install Learning Box GUI">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Final_Command"
            name="Install Example Final">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.OpenPsfSelectionDialogHandler"
            id="org.moflon.devtools.ui.commands.install.OpenPsfSelectionDialog"
            name="Open PSF file selection dialog...">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallModulesSDMCore"
            name="Install Core and SDM Modules">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallModulesCoevolution"
            name="Install Coevolution Modules">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallModulesVisualization "
            name="Install Visualization Modules">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallModulesTGG"
            name="Install TGG Modules (incl. MOSL-TGG)">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.InstallModulesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallModulesRest"
            name="Install All Modules (without MOSL)">
         <commandParameter
               id="org.moflon.devtools.ui.commands.install.workspacename"
               name="Workspace Name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         id="org.moflon.testapplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.moflon.autotest.AutotestApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.moflon.autotest.StartUp">
      </startup>
   </extension>

</plugin>
