<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.moflon.ide.ui.perspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.moflon.ide.ui.toolbar"
               label="eMoflon Toolbar">
            <command
                  commandId="org.moflon.ide.ui.commands.MoflonDevtoolsMenuCommand"
                  icon="icons/junitmoflon.png"
                  id="org.moflon.devtools.ui.commands.toolbar.MoflonDevtoolsMenuCommand"
                  label="Install, Configure and Deploy eMoflon"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.moflon.ide.ui.definitions.isMoflonPerspective">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.moflon.devtools.ui.commands.toolbar.MoflonDevtoolsMenuCommand">
         <menu
               id="org.moflon.devtools.ui.menus.InstallAndConfigureMenu"
               label="Install Workspace">
         </menu>
          <command
               commandId="org.moflon.devtools.ui.commands.deploy.DeployCommand"
               label="Deploy eMoflon..."
               style="push">
         </command>
         
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.moflon.devtools.ui.menus.InstallAndConfigureMenu">
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallDemoWorkspaceCommand"
               label="Demo Workspace"
               style="push">
         </command>
         <separator
               name="org.moflon.devtools.ui.menus.Separator1"
               visible="true">
         </separator>
         <menu
               id="org.moflon.devtools.ui.menus.InstallAndConfigureHandbookExamples"
               label="Handbook Examples">
         </menu>
         <menu
               id="org.moflon.devtools.ui.menus.InstallAndConfigureDeveloper"
               label="Developer Workspaces">
         </menu>
         <menu
               id="org.moflon.devtools.ui.menus.InstallAndConfigureTestingWorkspace"
               label="Test Workspaces">
         </menu>
         <separator
               name="org.moflon.devtools.ui.menus.Separator2"
               visible="true">
         </separator>
         <command
               commandId="org.moflon.devtools.ui.commands.install.LoadPsfFileCommand"
               label="Load custom PSF file"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.OpenPsfSelectionDialog"
               label="Open PSF selection dialog..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.moflon.devtools.ui.menus.InstallAndConfigureHandbookExamples">
             <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part3_Command"
               label="Handbook Example (Part 3)"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part4_Command"
               label="Handbook Example (Part 4)"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part45_Command"
               label="Handbook Example (Part 4, 5)"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookExample_GUI_Command"
               label="Handbook Example (GUI)"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Final_Command"
               label="Handbook Example (Final)"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.moflon.devtools.ui.menus.InstallAndConfigureTestingWorkspace">
            <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceMiscCommand"
               label="Test Workspace Misc."
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceTGG0Command"
               label="Test Workspace TGG 0"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceTGG1Command"
               label="Test Workspace TGG 1"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceDemocles0Command"
               label="Test Workspace Democles 0"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTransformationZoo0Command"
               label="Transformation Zoo 0"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallTransformationZoo1Command"
               label="Transformation Zoo 1"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.moflon.devtools.ui.menus.InstallAndConfigureDeveloper">
            <command
               commandId="org.moflon.devtools.ui.commands.install.InstallDeveloperWorkspaceCommandUsingInstalledPSF"
               label="Developer Workspace (using installed PSF)"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallDeveloperWorkspaceCommandUsingCurrentPSF"
               label="Developer Workspace (using current PSF)"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallHandbookCommand"
               label="Install handbook (latex source)"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallDevAndTestWorkspacesCommand"
               label="Developer and all Test Workspaces"
               style="push">
         </command>
         <command
               commandId="org.moflon.devtools.ui.commands.install.InstallPsfFilesOnlyCommand"
               label="org.moflon.ide.workspaceinstaller.psf"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.DoNothingHandler"
            id="org.moflon.ide.ui.commands.MoflonDevtoolsMenuCommand"
            name="Install, configure, and deploy Moflon">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallDeveloperWorkspaceHandlerUsingInstalledPSFs"
            id="org.moflon.devtools.ui.commands.install.InstallDeveloperWorkspaceCommandUsingInstalledPSF"
            name="Install developer workspace (installed PSF)">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallDeveloperWorkspaceHandlerUsingCurrentPSFs"
            id="org.moflon.devtools.ui.commands.install.InstallDeveloperWorkspaceCommandUsingCurrentPSF"
            name="Install developer workspace (current PSF)">
      </command>
      <category
            id="org.moflon.ide.ui.commands.DevelopmentCategory"
            name="Development commands">
      </category>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.deploy.DeploymentHandler"
            id="org.moflon.devtools.ui.commands.deploy.DeployCommand"
            name="Deploy local">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallTestWorkspaceMiscHandler"
            id="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceMiscCommand"
            name="Install test workspace misc.">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallTestWorkspaceTGG0Handler"
            id="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceTGG0Command"
            name="Install test workspace TGG 0">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallTestWorkspaceTGG1Handler"
            id="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceTGG1Command"
            name="Install test workspace TGG 1">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallTestWorkspaceDemocles0Handler"
            id="org.moflon.devtools.ui.commands.install.InstallTestWorkspaceDemocles0Command"
            name="Install test workspace Democles 0">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallTransformationZoo0Handler"
            id="org.moflon.devtools.ui.commands.install.InstallTransformationZoo0Command"
            name="Install transformation zoo 0">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallTransformationZoo1Handler"
            id="org.moflon.devtools.ui.commands.install.InstallTransformationZoo1Command"
            name="Install transformation zoo 1">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallHandbookWorkspaceHandler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookCommand"
            name="Install handbook">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallPsfFileHandler"
            id="org.moflon.devtools.ui.commands.install.LoadPsfFileCommand"
            name="Install: Load PSF file">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallDevAndTestWorkspacesHandler"
            id="org.moflon.devtools.ui.commands.install.InstallDevAndTestWorkspacesCommand"
            name="Install Dev + all test workspaces">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallPsfFilesOnlyHandler"
            id="org.moflon.devtools.ui.commands.install.InstallPsfFilesOnlyCommand"
            name="PSF files only">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallDemoWorkspaceHandler"
            id="org.moflon.devtools.ui.commands.install.InstallDemoWorkspaceCommand"
            name="Demo Workspace">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallHandbookExamplePart3Handler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part3_Command"
            name="Install handbook example (part 3)">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallHandbookExamplePart4Handler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part4_Command"
            name="Install handbook example (part 4)">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallHandbookExampleGUIHandler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookExample_GUI_Command"
            name="Install handbook example (GUI)">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallHandbookExampleFinalHandler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Final_Command"
            name="Install handbook example (final)">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.InstallHandbookExamplePart45Handler"
            id="org.moflon.devtools.ui.commands.install.InstallHandbookExample_Part45_Command"
            name="Install handbook example (part 4, 5)">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            defaultHandler="org.moflon.devtools.ui.handlers.install.OpenPsfSelectionDialogHandler"
            id="org.moflon.devtools.ui.commands.install.OpenPsfSelectionDialog"
            name="Open PSF file selection dialog...">
      </command>
      <command
            categoryId="org.moflon.ide.ui.commands.DevelopmentCategory"
            id="org.moflon.devtools.ui.commands.install.OpenPsfSelectionDialog"
            name="Open PSF file selection dialog...">
      </command>
      <command
            id="org.moflon.devtools.ui.commands.install.OpenPsfSelectionDialog"
            name="Open PSF file selection dialog...">
      </command>
      <command
            id="org.moflon.devtools.ui.commands.install.OpenPsfSelectionDialog"
            name="Open PSF file selection dialog">
      </command>
   </extension>
   <extension
         id="org.moflon.testapplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.moflon.autotest.AutotestApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.moflon.autotest.StartUp">
      </startup>
   </extension>

</plugin>
