<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.sdm.runtime.democles.DemoclesPackage" genModel="model/Democles.genmodel" uri="platform:/plugin/org.moflon.sdm.runtime.democles/model/Democles.ecore"/>
  </extension>
</plugin>
