<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
 <copyright>
 </copyright>

 $Id$
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SDMLanguage.SDMLanguagePackage" genModel="model/SDMLanguage.genmodel" uri="platform:/plugin/SDMLanguage/model/SDMLanguage.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SDMLanguage.activities.ActivitiesPackage" genModel="model/SDMLanguage.genmodel" uri="platform:/plugin/SDMLanguage/model/SDMLanguage.ecore#//activities"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SDMLanguage.sdmUtil.SdmUtilPackage" genModel="model/SDMLanguage.genmodel" uri="platform:/plugin/SDMLanguage/model/SDMLanguage.ecore#//sdmUtil"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SDMLanguage.calls.CallsPackage" genModel="model/SDMLanguage.genmodel" uri="platform:/plugin/SDMLanguage/model/SDMLanguage.ecore#//calls"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SDMLanguage.calls.callExpressions.CallExpressionsPackage" genModel="model/SDMLanguage.genmodel" uri="platform:/plugin/SDMLanguage/model/SDMLanguage.ecore#//calls/callExpressions"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SDMLanguage.expressions.ExpressionsPackage" genModel="model/SDMLanguage.genmodel" uri="platform:/plugin/SDMLanguage/model/SDMLanguage.ecore#//expressions"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SDMLanguage.patterns.PatternsPackage" genModel="model/SDMLanguage.genmodel" uri="platform:/plugin/SDMLanguage/model/SDMLanguage.ecore#//patterns"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SDMLanguage.patterns.AttributeConstraints.AttributeConstraintsPackage" genModel="model/SDMLanguage.genmodel" uri="platform:/plugin/SDMLanguage/model/SDMLanguage.ecore#//patterns/AttributeConstraints"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SDMLanguage.patterns.patternExpressions.PatternExpressionsPackage" genModel="model/SDMLanguage.genmodel" uri="platform:/plugin/SDMLanguage/model/SDMLanguage.ecore#//patterns/patternExpressions"/>
  </extension>
</plugin>
