#**#$visibility $type getFrom$methodSuffix ($key key)
#**##if( $targetClassIsInterface )
#*   *#;
#**##else
#*   *#{
#*   *#   return ((this.$name == null)
#*   *#           ? null
#*   *#           : ($type) this.${name}.get (key));
#*   *#}
#**##end
