#**### @param $token - the current SearchOperation
#**### @param $toContinue - whether or not the pattern should be left or continued
#**###set($toContinue = $flowUtil.getSearchToContinue($token))
#**##if($toContinue)
#*   *###   $toContinue.ObjectName = null;
#*   *###   fujaba__Success = false;
#*   *#   continue;
#**##else
#*   *##if($flowUtil.needsStoryBlock($token))
#*      *##set($depth = $flowUtil.getPatternDepth($token))
#*      *#   fujaba__Success = false;
#*   *#   break pattern#if($depth>0)$depth#end;
#*   *##else
#*      *#   fujaba__Success = false;
#*   *##end
#**##end