<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.moflon.ide.ui.MoflonPerspective">
      <view id="net.sourceforge.plantuml.eclipse.views.PlantUmlView" minimized="false" relationship="stack" relative="org.moflon.ide.ui.admin.views.AbstractSyntaxView"/>
    </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="menu:net.sourceforge.plantuml.eclipse.views.PlantUmlView">
      <command commandId="org.moflon.ide.visualization.dot.language.plantuml.view.togglerefinement.command" label="Do not flatten Refinements" style="toggle"/>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command defaultHandler="org.moflon.ide.visualisation.dot.language.ToggleRefinementHandler" description="Switch between view of refinement and flattened resulting rule" id="org.moflon.ide.visualization.dot.language.plantuml.view.togglerefinement.command" name="Do not flatten Refinements"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.ide.visualization.dot.language.LanguagePackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.ide.visualization.dot.language/model/Language.ecore"/>
  </extension>
</plugin>
