#**##set( $children = $mofutility.indent("   ",$!children) )
#**#// check negative bindings
#**#try
#**#{
#**#   fujaba__Success = false;
#**#
#**#$children
#**#   fujaba__Success = true;
#**#}
#**#catch ( JavaSDMException fujaba__InternalException )
#**#{
#**#   fujaba__Success = false;
#**#}
#**#
#**#fujaba__Success = !(fujaba__Success);
#**#
#**#JavaSDM.ensure ( fujaba__Success );
#**#
