#**##if( ! $targetClassIsInterface )
#*   *#private $!transient$container $name;
#**##end
#**#
#**#$visibility boolean set$methodSuffix (#if($partnerKey)$partnerKey partnerKey, #end$type value)##
#**##if( $targetClassIsInterface )
#*   *#;
#**##else
#*   *#
#*   *#{
#*   *#   boolean changed = false;
#*   *#
#*   *#   if (this.$name != value)
#*   *#   {
#*   *#      $!preHook
#*   *##if( $ref )
#*      *#      this.$name = value;
#*      *#      changed = true;
#*   *##else
#*      *#      $type oldValue = this.$name;
#*      *#      $class source = this;
#*      *#      if (this.$name != null)
#*      *#      {
#*      *#         this.$name = null;
#*      *#         oldValue.$remove;
#*      *#      }
#*      *#      this.$name = value;
#*      *#
#*      *#      if (value != null)
#*      *#      {
#*      *#         value.$insert;
#*      *#      }
#*      *##if( $prop )
#*         *#         getPropertyChangeSupport().firePropertyChange(PROPERTY_$utility.camelToUpperCase($name), oldValue, value);
#*      *##end
#*      *#      changed = true;
#*   *##end
#*   *#      $!postHook
#*   *#   }
#*   *#   return changed;
#*   *#}
#**##end
#**#
#**#$visibility $type get$methodSuffix ()##
#**##if( $targetClassIsInterface )
#*   *#;
#**##else
#*   *#
#*   *#{
#*   *#   return this.$name;
#*   *#}
#**##end