#**##set( $method = $elem )
#**##set( $name = $method.Name )
#**##set( $returnType = $utility.getTypeAsString($method.ResultType) )
#**##set( $initializer = ( $returnType.equals("Initializer") ) )
#**##set( $visibility = $utility.getVisibilityString($method.Visibility) )
#**##set( $abstract = $method.isAbstract() )
#**##set( $native = $method.hasKeyInStereotypes("native") )
#**##set( $synchronized = $method.hasKeyInStereotypes("synchronized") )
#**##set( $static = $method.isStatic() )
#**##set( $final = $method.hasKeyInStereotypes("final") )
#**##set( $signal = $method.hasKeyInStereotypes("signal") )
#**##set( $params = $method.iteratorOfParam() )
#**##set( $throws = $method.iteratorOfThrowsTypes() )
#**##set( $body = $method.MethodBody )
#**##set( $parsed = $method.isParsed() )
#**##set( $comment = $utility.indent(" * ", $method.Comment.Text ) )
#**##set( $start = $method.RevSpec )
#**##if( !$comment &&  $start )
#*   *##set( $comment = $utility.indent(" * ", $start.Comment.Text ) )
#**##end
#**##set( $interface = $utility.isInterface($method.Parent) )
#**##set( $imports = $engine.getFromInformation("imports") )