#**##set( $collabStat = $elem )
#**##set( $object = $collabStat.CallTarget )
#**##if ( $object )
#*   *##if( !$collabStat.CallOnElementsOfSet )
#*      *##set( $directSetAccess = true )
#*   *##end
#*   *##parse("$lang/default:storyPattern/object/import.vm" )
#*   *##set( $onSet = ($collabStat.isCallOnElementsOfSet() && $set) )
#**##end
#**##set( $ifCond = $utility.nullIfEmpty($collabStat.IfCondText) )
#**##set( $loopVar = $utility.nullIfEmpty($collabStat.LoopVarName) )
#**##set( $loopStart = $collabStat.LoopStartVal )
#**##set( $loopStop = $collabStat.LoopStopVal )
#**##set( $whileLoop = $utility.nullIfEmpty($collabStat.WhileLoopText) )
#**##set( $target = $utility.nullIfEmpty($collabStat.AssignTgtText) )
#**##set( $targetType = $collabStat.AssignTgtType )
#**##set( $reflective = $collabStat.isReflective() )
#**##if( $targetType )
#*   *##set( $localVars = $engine.getFromInformation("localVars") )
#*   *##set( $return = $localVars.addLocalVariable($target, $targetType, $utility.getDefaultAsString($targetType), $collabStat) )
#**##end
#**##if ( $reflective )
#**##set( $call = "de.uni_kassel.features.util.FeaturesUtil.invokeMethod(#if($object) ${name} #else null #end, $collabStat.getReflectiveExpr() )" )
#**##else
#*   *##set( $call = $collabStat.CallText )
#**##end
#**#// collabStat call
#**##if ( $ifCond )
#*   *#if ( $ifCond )
#*   *#{
#**##end
#**##if ( $whileLoop )
#*   *#while ( $whileLoop )
#*   *#{
#**##end
#**##if ( $loopVar )
#*   *#for ( int $loopVar = $loopStart;$loopVar <= $loopStop;++$loopVar )
#*   *#{
#**##end
#**##if($target)$target = #end#if($object && !$reflective)${name}.#end$call;
#**##if ( $ifCond )
#*   *#}
#**##end
#**##if ( $whileLoop )
#*   *#}
#**##end
#**##if ( $loopVar )
#*   *#}
#**##end