<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
         point="org.eclipse.ui.editors">
      <editor
      		class="org.moflon.ide.deltaeditor.DeltaEditor"
      		contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor"
      		extensions="xmi"
      		icon="icons/deltaSmall-refit.png"
      		id="org.moflon.ide.deltaeditor.DeltaEditor"
      		name="Delta Editor">
   </editor>
   </extension>
   <extension
         id="org.moflon.ide.texteditor.editors.TextEditorBuilder"
         name="Text Editor Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="org.moflon.ide.texteditor.builders.TextEditorBuilder">
         </run>
      </builder>
   </extension>
</plugin>
