#**##parse( "jmi/default:storyPattern/link/import.vm" )
#**##if( $range && !$ordered && !$role.PartnerRole.Qualifier )
#*   *#	#set($range="")
#**##end
#**##set( $toOne = $toOne || ($range && ($role.Card.UpperBound==1)) )
#**##set( $linkNegative = $link.isNegative() )
#**##if($range)
#*   *#	#set( $rangeIsInteger = $mofutility.isInteger($range))
#**##end
#**#
#**###reference
#**##set( $linkClassName = $link.InstanceOf.Class.Name)
#**#
#**###qualifier
#**##set( $qualifier = $role.Qualifier)
#**##if($qualifier)
#*   *#	#parse("jmi/default:storyPattern/link/importQualified.vm")
#**##else
#*   *#	#set($getQualified = false)
#**##end
#**#
#**##if($path)
#*   *#	#set ($check=true)
#*   *#	// check path expression
#*   *#	#parse( "jmi/default:storyPattern/link/toMany.vm" )
#**##else
#*   *#	// check link
#*   *#
#*   *#	JavaSDM.ensure ( ##
#**#	#if ( $linkNegative )!(#end
#*   *#	
#*   *#	## REFERENCE TO ONE
#*   *#	#if($toOne && $linkClassName.equals("de.tu_darmstadt.fujaba.mof.adapter.FMAOpposite"))
#*      *#		${targetName}.equals(${sourceName}.get${targetRoleName}())##
#*      *#	## NAVIGABLE ASSOCIATION TO ONE or MULTILINK
#*   *#	#elseif ( ($toOne && $ref) || $multi )
#*   *#		${targetName}.equals (${sourceName}.get$!multi#if($mofutility.nullIfEmpty($range))From#end$targetRoleName ($!mparam$!range))##
#*      *#	## NON-NAVIGABLE ASSOCIATION TO ONE
#*   *#	#elseif($toOne && !$ref)
#*      *#		${targetName}.equals (${getX1}"${getXparameter}"${getX2})
#*      *#	## MULTILINK INDIRECT
#*   *#	#elseif ( $indmulti )
#*      *#		${sourceName}.$indmulti$targetRoleName ($mparam)
#*      *#	## REFERENCE TO MANY
#*   *#	#elseif($linkClassName.equals("de.tu_darmstadt.fujaba.mof.adapter.FMAOpposite"))
#*      *#		${sourceName}.get${targetRoleName}().contains(${targetName})##
#*      *#	## QUALIFIED
#*   *#	#elseif($getQualified)
#*      *#		#set( $attrName = $mofutility.upFirstChar($qualifier.Name))
#*      *#		#set( $attrType = $qualifier.Adaptee.Type.Name )
#*      *#		#if( $attrType.equals("Boolean") )
#*      *#			#if(!$valueOfQualifier)!#end${targetName}.is${attrName}()##
#*      *#		#else
#*         *#			${targetName}.get${attrName}().equals($valueOfQualifier)##
#*      *#		#end
#*      *#	## ORDERED
#*   *#	#elseif( $ordered && $rangeIsInteger)
#*   *#		${targetName}.equals(#if($ref)		${getX}		#else${getX1}"${getXparameter}"${getX2}#end.get($range))##
#*      *#	## ASSOCIATION TO MANY
#*   *#	#else
#*   *#		#if($ref)		${getX}		#else${getX1}"${getXparameter}"${getX2}#end.contains($targetName)##
#*   *#	#end
#**##end
#**#
#**#
#**##if ( $linkNegative ))#end
#**#	 );
#**#
#**##if ( $targetMulti.TargetObject.equals($target) && ($targetMulti.SourceLink.Modifier!=2)&& !$first)
#*   *#	#parse( "jmi/default:storyPattern/link/multi.vm" )
#**##end
