#**##parse( "jmi/default:statechart/state/import.vm" )
#**#F$stateType $name = myFReactive.make$stateType ("$name", $utility.quote($entryActionName), $utility.quote($doActionName), $utility.quote($exitActionName));
#**##foreach( $deferredEvent in $state.iteratorOfDeferredEvents() )
#*   *#${name}.addToDeferredEvents ("$deferredEvent");
#**##end
#**#${master}.addToSubStates ($name);
#**##if( $utility.isInitial($state) )
#*   *#${master}.addToInitial ($name);
#**##end
#**#$!children##
