#**##set( $state = $elem )
#**##set( $id = $elem.hashCode() )
#**##set( $name = $state.Name)
#**##set( $upName = $utility.upFirstChar($name) )
#**##set( $entryAction = $state.EntryAction )
#**##if( !$utility.isNullOrEmpty($entryAction) )
#*   *##set( $entryActionName = "entryActionFor$upName$id" )
#**##end
#**##set( $doAction = $state.DoAction )
#**##if( !$utility.isNullOrEmpty($doAction) || $state.Story )
#*   *##set( $doActionName = "doActionFor$upName$id" )
#**##end
#**##set( $exitAction = $state.ExitAction )
#**##if( !$utility.isNullOrEmpty($exitAction) )
#*   *##set( $exitActionName = "exitActionFor$upName$id" )
#**##end
#**##set ( $stateType = "State" )
#**##if( $state.sizeOfContains() > 0 )
#*   *##set ( $stateType = "ComplexState" )
#**##end
#**##set( $statechart = $state.ParentElement )
#**##set( $master = $statechart.RevContains.Name )
#**##if( !$master )
#*   *##set( $master = $statechart.Name )
#**##end