#**# #parse( "jmi/default:statechart/state/import.vm" )
#**##if( $children )
#*   *##set( $children = $utility.indent("   ",$!children) )
#*   *#
#*   *#public void $doActionName()
#*   *#{
#*   *##parse( "jmi/default:activityDiag/activityDiag.vm" )
#*   *#}
#*   *#
#**##elseif( $doActionName )
#*   *#
#*   *#public void $doActionName()
#*   *#{
#*   *#   $doAction;
#*   *#}
#*   *#
#**##end
#**##if( $entryActionName )
#*   *#
#*   *#public void $entryActionName()
#*   *#{
#*   *#   $entryAction;
#*   *#}
#*   *#
#**##end
#**##if( $exitActionName )
#*   *#
#*   *#public void $exitActionName()
#*   *#{
#*   *#   $exitAction;
#*   *#}
#*   *#
#**##end