#**##macro( condition $then1 $else1 $type1 $negative )
#**##if( ($type1 == 2) )## FAILURE
#**##if( !$negative )!#end
#*   *#fujaba__Success##
#**##elseif ( ($type1 == 5) )## ELSE
#**##if( !$negative )!(#end
#*   *#$else1.Guard.BoolExpr##
#**##if( !$negative ))#end
#**##elseif ( ($type1 == 6) )## BOOL
#**##if( $negative )!(#end
#*   *#$then1.Guard.BoolExpr##
#**##if( $negative ))#end
#**##else
#**##if( $negative )!#end
#*   *#fujaba__Success##
#**##end
#**##end
#**##set( $rep = $token )
#**##set( $next = $rep.NextUMLTransition )
#**##set( $leaving = $rep.LeavingUMLTransition )
#**##set( $transType = $rep.getGuardType($rep.NextUMLTransition) )
#**##set( $condition = "#condition( $next $leaving $transType false )" )
#**##set( $comment = $next.Comment.Text )
#**##if( $comment )
#**#// $comment
#**##end
#**##if( $rep.Type )## HEAD CONTROLLED
#**##if( $rep.isHeadedByActivity() )
#*   *##set( $condition = "#condition( $next $leaving $transType true )" )
#*   *##set( $children = $mofutility.indent("   ",$!children) )
#*   *##set( $firstActivity = $mofutility.indent("   ",$!firstActivity) )
#*   *#while (true)
#*   *#{
#*   *#$firstActivity
#*   *#   if ($condition)
#*   *#   {
#*   *#      break;
#*   *#   }
#**##else
#*   *#while ($condition)
#*   *#{
#**##end
#**#$children
#**#}
#**##else
#**#do
#**#{
#**#$children
#**#}
#**#while ($condition);
#**##end
