<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="MocaToMoflonTransformation.MocaToMoflonTransformationPackage" genModel="model/MocaToMoflonTransformation.genmodel" uri="platform:/plugin/MocaToMoflonTransformation/model/MocaToMoflonTransformation.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="MocaToMoflonTransformation.sdm.SdmPackage" genModel="model/MocaToMoflonTransformation.genmodel" uri="platform:/plugin/MocaToMoflonTransformation/model/MocaToMoflonTransformation.ecore#//sdm"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="MocaToMoflonTransformation.tgg.TggPackage" genModel="model/MocaToMoflonTransformation.genmodel" uri="platform:/plugin/MocaToMoflonTransformation/model/MocaToMoflonTransformation.ecore#//tgg"/>
  </extension>
</plugin>
