#**#### TypeOf[ ${utility} ] := de.uni_kassel.fujaba.codegen.Utility
#**##parse("$lang/GWT:statechart/transition/import.vm" )
#**#// $transition.getGuardExprText()
#**##if( $after )
#*   *#${from}.setTimeoutForAfterEvent ($timeout);
#*   *#${from}.setIdOfAfterTransition ($id);
#**##elseif( $when )
#*   *#${from}.setTimeoutForWhenEvent ($timeout);
#*   *#${from}.setIdOfWhenTransition ($id);
#**##elseif ( $to.equals("stop"))
#*   *##* do nothing *#
#**##elseif ( $transition.getGuardExprText().equals("success") )
#*   *#${utility.downFirstChar($from)}.setToSuccess($utility.downFirstChar($to));
#**##elseif ( $transition.getGuardExprText().equals("failure") )
#*   *#${utility.downFirstChar($from)}.setToFailure($utility.downFirstChar($to));
#**##else
#*   *##* do output for debugging *#
#*   *#//${utility.downFirstChar($from)}.addToFollowers("$transition.getName()", $utility.downFirstChar($to));
#**##end