#**##set( $createCode = "new $type ( )"  )
#**##if ( $utility.nullIfEmpty($object.typeCastSource) )
#*   *##set ( $createCode = $object.typeCastSource )
#**##end
#**##if ( $utility.nullIfEmpty($object.constructionExpression) )
#*   *##set ( $createCode = $object.constructionExpression )
#**##end
#**##if ( $utility.nullIfEmpty($object.reflectiveTypeExpr) )
#*   *##set ( $createCode = "de.uni_kassel.features.util.FeaturesUtil.newInstance( ${type}.class, $object.reflectiveTypeExpr )" )
#**##end
#**#$name = $createCode;
#**###if( $debug )localVars.put( "$name", $name );#end
