#**##if( !$object )
#*   *### not set if called from link templates
#*   *##set( $object = $elem )
#*   *##set( $source = $object.TypeCastSource )
#*   *##set( $typeCast = $object.isCheckTypeCast() )
#**##end
#**##set( $name = $object.ObjectName )
#**##set( $type = $object.InstanceOf.Name )
#**##set( $set = $object.isSet() )
#**##set( $optional = ($object.isOptional() && !$set) )
#**##set( $bound = $object.isBound())
#**###set( $createVar = (!$bound || $object.TypeCastSource) )
#**##set( $createVar = true )
#**##if ( $set && !$directSetAccess )
#*   *##set ( $name = "fujaba__TmpObject$utility.upFirstChar($name)" )
#**##end
#**##if ( $typeCast )
#*   *##set( $tmpName = "_TmpObject" )
#*   *##set( $localVars = $engine.getFromInformation("localVars") )
#*   *##set( $return = $localVars.addLocalVariable($tmpName, "Object", $object) )
#**##else
#*   *##set( $tmpName = $name )
#**##end
#**##if ( ${object.InstanceOf.InheritedCodeStyle} )#set( $importStyle = "$lang/${object.InstanceOf.InheritedCodeStyle.Name}:" )
#**##else#set( $importStyle = "$lang/default:" )#end
#*   *##set( $classToImport = $object.InstanceOf )
#*   *##parse("$!{importStyle}classDiag/class/addClassImport.vm" )