#**##set( $attr = $elem )
#**##set( $name = $attr.Name )
#**##if("class" == $name)
#*   *##set ($methodSuffix = "$utility.upFirstChar($name)_")
#**##else
#*   *##set ($methodSuffix = $utility.upFirstChar($name))
#**##end
#**##set( $visibility = $utility.getVisibilityString($attr.Visibility) )
#**##if( $attr.static )
#*   *##set( $static = "static " )
#**##end
#**##if( $attr.hasKeyInStereotypes("transient") )
#*   *##set( $transient = "transient " )
#**##end
#**##if( $attr.hasKeyInStereotypes("final") )
#*   *##set( $final = "final " )
#**##end
#**##set( $readOnly = ($final || $attr.readOnly) )
#**##set( $constant = ($static && $final) )
#**##set( $attrType = $attr.AttrType )
#**##set( $type = $utility.getTypeAsString($attrType) )
#**##set( $init = $utility.nullIfEmpty($attr.InitialValue) )
#**##set( $createMethods = $attr.CreateAccessMethods )
#**##if( $createMethods==1 || ($createMethods==2 && $constant))
#*   *##set( $attrvis = $visibility )
#**##else
#*   *###if( $constant )
#*      *###set( $attrvis = "public" )
#*   *###else
#*      *##set( $attrvis = "private" )
#*   *###end
#**##end
#**##set( $prop = $utility.isJavaBean($attr.Parent) )
#**##set( $enum = $attr.Parent.hasKeyInStereotypes("enum") )
#**###As long as isEnumConstant() cannot be set in Fujaba and is not serialized $enum is used instead
#**###set ( $enumConstant = $attr.isEnumConstant() )
#**##set( $enumConstant = $enum )
#**### or use $type == "void"
#**##set( $comment = $utility.indent(" * ", $attr.Comment.Text ) )
