#**##parse("$lang/default:storyPattern/object/import.vm" )
#**##if ( ${class.InheritedCodeStyle} )#set( $style = "$lang/${class.InheritedCodeStyle.Name}:" )
#**##else#set( $style = "$lang/default:" )#end
#*   *##set( $opComment = "delete object $name" )
#**##if( $sdmTrace )
#*   *##if ( $token == $token.getParent().getFirstOfChildren() )
#*   *#   SDMTraceUtil.logCommenceOfGraphRewriting(__sdmTracing_context, __sdmTracing_stw, __sdmTracing_patternStack.peek());
#*   *##end
#**##end
#*   *#// $opComment
#*   *##parse("$!{style}storyPattern/object/deleteObject.vm" )
#**##if( $sdmTrace )
#**#
#**#  SDMTraceUtil.logObjDeletion(__sdmTracing_context, __sdmTracing_stw, "$name", ${name}.getClass(), $name);
#**##end
#**#
