#**##if ( $toMany || $qualified )
#*   *##set( $return = $imports.addToImports("java.util.HashSet") )
#*   *##set( $container = "HashSet" )
#*   *##set( $return = $imports.addToImports("de.uni_kassel.assocs.simple.DefaultSetRole") )
#*   *##set( $roleImplClass = "DefaultSetRole" )
#*   *##if( $sorted )
#*      *##if( $utility.nullIfEmpty($comparator) )
#*         *##set( $constParams = "new $comparator ()" )
#*      *##end
#*      *##set( $return = $imports.addToImports("java.util.TreeSet") )
#*      *##set( $container = "TreeSet" )
#*      *##set( $return = $imports.addToImports("de.uni_kassel.assocs.simple.DefaultSetRole") )
#*      *##set( $roleImplClass = "DefaultSetRole" )
#*   *##end
#*   *##if( $qualified )
#*      *##if( $toMany )
#*         *##set( $container = "F$!{prop}DuplicatedHashMap" )
#*      *##else
#*         *##set( $return = $imports.addToImports("java.util.HashMap") )
#*         *##set( $container = "HashMap" )
#*         *##set( $return = $imports.addToImports("de.uni_kassel.assocs.simple.DefaultSetRole") )
#*         *##set( $roleImplClass = "DefaultMapRole" )
#*      *##end
#*   *##end
#*   *##if( $ordered )
#*      *##set( $return = $imports.addToImports("java.util.ArrayList") )
#*      *##set( $container = "ArrayList" )
#*      *##set( $return = $imports.addToImports("de.uni_kassel.assocs.simple.DefaultListRole") )
#*      *##set( $roleImplClass = "DefaultListRole" )
#*   *##end
#*   *##if( $ordered )
#*      *##set( $linkedList = " && !this.hasIn$methodSuffix (value)" )
#*   *##end
#**##else
#*   *##set( $container = $type )
#**##end
#**##set( $backlinkSource = "source" )