#**##if ( $annotationsEnabled )##
#*   *##set( $return = $imports.addToImports("de.uni_kassel.features.annotation.util.Property") )##
#*   *##set( $return = $imports.addToImports("de.uni_kassel.features.ReferenceHandler") )##
#*   *#@Property( name = PROPERTY_$utility.camelToUpperCase($name), ##
#*   *##if ( !$ref )
#*      *#partner = ${type}.PROPERTY_$utility.camelToUpperCase($partnerRole.AttrName), ##
#*   *##end
#*   *#kind = ReferenceHandler.ReferenceKind.$referenceKind,
#*   *#      ##
#*   *##if ( $isAggregation )##
#*      *#adornment = ReferenceHandler.Adornment.AGGREGATION##
#*   *##elseif ( $isComposition )##
#*      *#adornment = ReferenceHandler.Adornment.COMPOSITION##
#*   *##elseif ( $isParent )##
#*      *#adornment = ReferenceHandler.Adornment.PARENT##
#*   *##elseif ( $isUsage )##
#*      *#adornment = ReferenceHandler.Adornment.USAGE##
#*   *##else##
#*      *#adornment = ReferenceHandler.Adornment.NONE##
#*   *##end
#*   *#)
#**##end