#set( $attr = $elem )
#set( $object = $attr.getRevAttrs() )
#parse( "jmi/default:storyPattern/object/import.vm" )
#set( $attrName = $mofutility.upFirstChar($attr.getName()) )
#set( $attrOp = $attr.getAttrOperationAsText() )
#set( $reflective = $attr.isReflective() )

#if($reflective)
	#set( $attrExpr = $attr.getExpression() )
#else
	#set( $attrExpr = $mofutility.getParsedExpression(${attr}))
	#set( $instanceOf = $attr.InstanceOf)
	#set( $final = $instanceOf.isFinal() )
	#set( $static = $instanceOf.isStatic() )
#end

