#**##set( $qualifier = $partnerRole.Qualifier )
#**##if (($partnerRole.Card.UpperBound > 1) || $qualified)
#*   *#      this.get$methodSuffix().clear();
#**##else
#**#      this.set$methodSuffix (#if( $qualifier && $qualifier.isExternalQualifier())$utility.getDefaultAsString($qualifier.Type), #end
#*   *#null);
#**##end