<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.maave.tool.analysis.acenforcment.AcenforcmentPackage" genModel="model/Acenforcment.genmodel" uri="platform:/plugin/org.moflon.maave.tool.analysis.acenforcment/model/Acenforcment.ecore"/>
  </extension>
</plugin>
