<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="DotToSDMLanguageTGG.DotToSDMLanguageTGGPackage" genModel="model/DotToSDMLanguageTGG.genmodel" uri="platform:/plugin/DotToSDMLanguageTGG/model/DotToSDMLanguageTGG.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="DotToSDMLanguageTGG.Rules.RulesPackage" genModel="model/DotToSDMLanguageTGG.genmodel" uri="platform:/plugin/DotToSDMLanguageTGG/model/DotToSDMLanguageTGG.ecore#//Rules"/>
  </extension>
</plugin>
