#**##parse("java/breaks:storyPattern/link/import.vm" )
#**##if($path)
#*   *##set ($check=true)
#*   *##set( $opComment = "check path expresion $path from $sourceName to $targetName" )
#*   *#// $opComment
#*   *##parse("$!{style}storyPattern/link/toMany.vm" )
#**##else
#*   *##parse("$!{style}classDiag/assoc/accessors.vm")
#*   *##set( $opComment = "link check $link.InstanceOf.Name from $sourceName to $targetName" )
#*   *##if ( $linkNegative )
#*      *##set($condition = "!($contains)")
#*   *##else
#*      *##set($condition = "$contains")
#*   *##end
#*   *##parse("java/breaks:storyPattern/condition.vm" )
#*   *### multi
#*   *##if ( $targetMulti.TargetObject.equals($target) && ($targetMulti.SourceLink.Modifier!=2) && !$first)
#*      *##parse("java/breaks:storyPattern/link/checkMulti.vm" )
#*   *##end
#**##end