#**### TODO currently path expressions are not supported
#**##parse("java/breaks:storyPattern/link/import.vm" )
#**##parse("java/breaks:classDiag/assoc/accessors.vm")
#**##if($path)
#*   *##set( $opComment = "negative check for path expresion $path from $sourceName" )
#**##else
#*   *##set( $opComment = "negative check for link $link.InstanceOf.Name from $sourceName" )
#**##end
#**##if ( $toOne || $multi )
#*   *##set ($condition = "$getter == null")
#**##else
#*   *##if($range || $mparam)
#*      *##if( $path )
#*         *##set ($condition = "!new de.uni_kassel.sdm.Path ($sourceName, \"$path\").hasNext()")
#*      *##else
#*         *##set ($condition = "!$iterator.hasNext()")
#*      *##end
#*   *##else
#*      *##set ($condition = "$size == 0")
#*   *##end
#**##end
#**##parse("java/breaks:storyPattern/condition.vm" )