<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="moflon" sequenceNumber="29">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.stringtemplate.feature.feature.group" version="4.2.1.201412181809"/>
<repository location="http://95.140.46.126/external"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
</locations>
</target>
