<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="moflon" sequenceNumber="62">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.gervarro.eclipse.util.feature.feature.group" version="2.0.0.v20161231-0040"/>
<unit id="org.gervarro.eclipse.util.feature.source.feature.group" version="2.0.0.v20161231-0040"/>
<repository location="http://gervarro.org/eclipse-utils/integration-2.0.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.gervarro.democles.feature.compiler.feature.group" version="0.4.0.v20160412-1015"/>
<unit id="org.gervarro.democles.feature.compiler.source.feature.group" version="0.4.0.v20160412-1015"/>
<unit id="org.gervarro.democles.feature.specification.feature.group" version="0.4.0.v20160412-1015"/>
<unit id="org.gervarro.democles.feature.specification.source.feature.group" version="0.4.0.v20160412-1015"/>
<repository location="http://gervarro.org/democles/integration-0.4.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.stringtemplate" version="4.2.1.201501011937"/>
<repository location="http://gervarro.org/external/"/>
</location>
</locations>
</target>
