#**##parse("$lang/default:storyPattern/attribute/import.vm" )
#**##set( $return = $imports.addToImports("de.ubt.ai1.sdm.ocl.FujabaOCLHelper") )
#**### translate java operators to OCL operators
#**##if( $attrOp == "==" )
#*   *##set( $attrOp = "=" )
#**##end
#**##if( $attrOp == "!=" )
#*   *##set( $attrOp = "<>" )
#**##end
#**##set ( $parentName = $attr.getParentElement().getName() )
#**##if( $parentName == "this" )
#*   *##set( $parentName = "self" )
#**##end
#**##set( $createdVarList = false )
#**##set( $localVars = $engine.getFromInformation("localVars") )
#**##foreach( $identifier in $utility.getOCLVarList($attr, $localVars).iterator() )
#*   *##if ( !$createdVarList )
#*      *##set( $return = $imports.addToImports("java.util.HashMap") )
#*      *##set( $return = $localVars.addLocalVariable("contextInstances", "HashMap<String, Object>", $attr) )
#*      *#contextInstances = new HashMap<String, Object>();
#*      *##set( $createdVarList = true )
#*   *##end
#*   *#contextInstances.put("$identifier", $identifier);
#**##end
#**#JavaSDM.ensure ( ##
#**#FujabaOCLHelper.createQuery(this.eClass(), "$parentName.$attrName $attrOp $attrExpr"#if ( $createdVarList ), contextInstances#end).check(this) ##
#**#);
