<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.moflon.tutorial.category"
            name="eMoflon Tutorial">
      </category>
      <cheatsheet
            category="org.moflon.tutorial.category"
            composite="true"
            contentFile="compositecheatsheet.xml"
            id="org.moflon.tutorial.cheatsheet_composite"
            name="eMoflon Tutorial">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/sample.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetItemExtension">
      <itemExtension
            class="org.moflon.tutorial.validation.ItemExtension"
            itemAttribute="validation">
      </itemExtension>
   </extension>

</plugin>
