#**##parse("$lang/default:statechart/state/import.vm" )
#*check for stereotype <<actioncontainer>> and generate specific code*#
#if( $elem.ParentElement.owner.hasKeyInStereotypes("ActionContainer") )
#**#### TypeOf[ ${utility} ] := de.uni_kassel.fujaba.codegen.Utility
#**#### TypeOf[ ${children} ] := java.lang.String
#**#${utility.downFirstChar("$name")} = new $name ();

#else
#**#F$stateType $name = myFReactive.make$stateType ("$name", $utility.quote($entryActionName), $utility.quote($doActionName), $utility.quote($exitActionName));
#**##foreach( $deferredEvent in $state.iteratorOfDeferredEvents() )
#*   *#${name}.addToDeferredEvents ("$deferredEvent");
#**##end
#**#${master}.addToSubStates ($name);
#**##if( $utility.isInitial($state) )
#*   *#${master}.addToInitial ($name);
#**##end
#**#$!children##
#end