#**##parse("$lang/default:storyPattern/attribute/import.vm" )
#**##set( $q = '"' )
#**##set( $method = "${name}.eGet(${name}.eClass().getEStructuralFeature($q$attrName$q))" )
#**##parse("$lang/default:storyPattern/attribute/check.vm" )