#**#   int priority;
#**#   if ( myFReactive.getThread () == Thread.currentThread () )
#**#   {
#**#      priority = FReactive.INTERNAL_EVENT;
#**#   }
#**#   else
#**#   {
#**#      priority = FReactive.EXTERNAL_EVENT;
#**#   }
#**#   FEvent event = new FEvent ("$name");
#**##set( $params = $method.iteratorOfParam() )
#**##foreach( $param in $params)
#*   *##set( $paramType = $utility.getTypeAsString($param.ParamType) )
#*   *##set( $paramName = $param.Name )
#*   *#   event.addToArgs (${paramType}.class, $paramName);
#**##end
#**#   myFReactive.enqueueEvent (event, priority);
#**#   myFReactive.notifyMe ();
