#**##parse("$lang/default:classDiag/method/import.vm" )
#**# 
#**##set( $children = $utility.indent("   ",$!children) )
#**##set( $classToImport = $method.ResultType )
#**##if ( ${classToImport.InheritedCodeStyle} )#set( $importStyle = "$lang/${classToImport.InheritedCodeStyle.Name}:" )
#**##else#set( $importStyle = "$lang/default:" )#end
#*   *##parse("$!{importStyle}classDiag/class/addClassImport.vm" )
#*   *##if ( $comment )
#*      *##if( $parsed )
#*         *#$comment
#*      *##elseif( $comment )
#*         *#/**
#*         *#$!comment
#*         *# **/
#*      *##end
#*   *##end
#*   *##if ( $overrides )
#*      *#@Override
#*   *##end
#*   *##if ( $initializer )
#*      *#static
#*   *##else
#*      *#$visibility ##
#*   *##if( $abstract )abstract #end##
#*   *##if( $native )native #end##
#*   *##if( $synchronized )synchronized #end##
#*   *##if( $static )static #end##
#*   *##if( $final )final #end##
#*      *##set( $template = "$lang/default:classDiag/method/params.vm" )
#*      *##set( $paramsString = "#parse($template)" )
#*      *##set( $opComment = "method $name ($paramsString) : $returnType" )
#*      *#$returnType $name ($paramsString)##
#*      *##set( $firstThrow = true )
#*      *##foreach( $throw in $throws )
#*         *##set( $classToImport = $throw )
#*         *##if ( ${classToImport.InheritedCodeStyle} )#set( $importStyle = "$lang/${classToImport.InheritedCodeStyle.Name}:" )
#*         *##else#set( $importStyle = "$lang/default:" )#end
#*            *##parse("$!{importStyle}classDiag/class/addClassImport.vm" )
#*            *##if( $firstThrow )
#*               *# throws #set( $firstThrow = false )
#*            *##else
#*               *#, ##
#*            *##end
#*            *#$throw.Name##
#*         *##end
#*      *##end
#*      *##if( $abstract || $interface )
#*         *#;
#*      *##else
#*         *#
#*         *#{
#*         *##if( $sdmTrace && $children )
#*            *##set( $template = "$lang/default:classDiag/method/paramTypes.vm" )
#*            *##set( $params = $method.iteratorOfParam() )
#*            *##set( $paramTypesString = "#parse($template)" )
#*            *##set( $template = "$lang/default:classDiag/method/paramValues.vm" )
#*            *##set( $params = $method.iteratorOfParam() )
#*            *##set( $paramValuessString = "#parse($template)" )
#*            *##set( $opId = $method)
#*            *#// init tracing
#*            *#final StackTraceWrapper __sdmTracing_stw;
#*            *#final SDMTraceContext __sdmTracing_context;
#*            *#final java.util.Stack<String> __sdmTracing_patternStack = new java.util.Stack<String>();
#*            *#final Class<?>[] __sdmTracing_params;
#*            *#final Object[] __sdmTracing_paramValues;
#*            *#final Method __sdmTracing_method;
#*            *#{
#*            *#   final Class<?> __sdmTracing_clazz = this.getClass();
#*            *#   final EClass __sdmTracing_eClass = this.eClass();
#*            *#   final EOperation __sdmTracing_eOperation = __sdmTracing_eClass.getEOperation($utility.getEOperationID($method));
#*            *#   __sdmTracing_context = SDMTraceUtil.getTraceContext(__sdmTracing_clazz.getCanonicalName());
#*            *#   __sdmTracing_params = new Class<?>[] { $paramTypesString };
#*            *#   __sdmTracing_paramValues = new Object[] { $paramValuessString };
#*            *#   try {
#*            *#      __sdmTracing_method = __sdmTracing_clazz.getDeclaredMethod("$name", __sdmTracing_params);
#*            *#   } catch (NoSuchMethodException e) {
#*            *#      throw new RuntimeException(e);
#*            *#   } catch (SecurityException e) {
#*            *#      throw new RuntimeException(e);
#*            *#   }
#*            *#   __sdmTracing_method.setAccessible(true);
#*            *#   __sdmTracing_stw = SDMTraceUtil.getStackTraceWrapper(__sdmTracing_method, __sdmTracing_eOperation);
#*            *#}
#*            *#// end of init tracing
#*            *#SDMTraceUtil.logOperationEnter(__sdmTracing_context, __sdmTracing_stw, this, __sdmTracing_method, __sdmTracing_paramValues);
#*            *#
#*         *##end
#*         *##if( $signal )
#*            *##if ($method.parent.hasKeyInStereotypes("ActionContainer"))
#*               *##parse("$lang/default:classDiag/method/bodyActionContainer.vm" )
#*            *##else
#*               *##parse("$lang/default:classDiag/method/bodySignal.vm" )
#*            *##end
#*         *##elseif( $body )
#*            *#$body
#*         *##else
#*            *#$!children##
#*         *##end
#*         *#}
#*         *##if( $signal && $method.parent.hasKeyInStereotypes("ActionContainer") ) 
#*            *##parse("$lang/default:classDiag/method/methodParamsActionContainer.vm" )
#*         *##end
#*      *##end