#**### multi link handling
#**##set( $targetMulti = $link.RevTargetLink )
#**##set( $sourceMulti = $link.RevSourceLink )
#**##if ( $targetMulti.ContainerObject.equals($source) )
#*   *##if ( $targetMulti.Type == 0 )## FIRST
#*      *##set( $first = true )
#*      *##set( $mparam = "0" )
#*      *##set( $multi = "" )
#*   *##end
#**##elseif ( $sourceMulti.ContainerObject.equals($source) )
#*   *##if ( $sourceMulti.Type == 1 )## LAST
#*      *##set( $mparam = "${sourceName}.get$targetRoleName ().size () - 1" )
#*      *##set( $multi = "" )
#*   *##end
#**##end