#**#// bind object
#**##set( $typeCast = (!$role.target.equals($target.instanceOf)) )
#**##if( !$role.target.hasKeyInStereotypes("Stereotype") )
#*  *##if($utility.isOriginallyNavigableViaComposite($targetRoleName))
#*    *##set( $source = "${sourceName}.eContainer() instanceof ${targetType} ? (${targetType}) ${sourceName}.eContainer() : null" )
#*    *##if(${sourceToOne})
#*      *##set( $eContainerCheck = "JavaSDM.ensure(${sourceName}.equals(${targetName}.get$utility.upFirstChar(${sourceRoleName})()));" )
#*    *##else
#*      *##set( $eContainerCheck = "JavaSDM.ensure(${targetName}.get$utility.upFirstChar(${sourceRoleName})().contains(${sourceName}));" )
#*    *##end
#*  *##else
#*    *##set( $source = "${sourceName}.get$targetRoleName ()" )
#*  *##end
#**##else
#*   *##set( $stereotypeName = "$role.target.project.name::$role.target.name" )
#*   *##set( $source = "${sourceName}.getStereotypeApplication(${sourceName}.getApplicableStereotype("+'"'+"$stereotypeName"+'"'+"))" )
#**##end
#**##if($mparam || $range)
#*   *##set( $targetTypeName = $role.target.Name )
#*   *##set( $fullTargetName = "${role.target.declaredInPackage.fullPackageName.toLowerCase()}.$targetTypeName" )
#*   *##set( $return = $imports.addToImports( $fullTargetName ) )
#*   *##set( $source = "($targetTypeName) ${source}.get (fujabaIndex)")
#**##end
#**##set( $targetToken = $dlrTool.createDLRToken([$target]) )
#**#$!targetToken.createStartTag()##
#**##parse("java/default:storyPattern/object/assign.vm" )##
#**#$!targetToken.createEndTag()
#**#$!dlrToken.createEndTag()##
#**#$!children##
#**#
#**#$!dlrToken.createStartTag()