<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.moflon.ide.debug.annotation.processor.builder.BreakpointBuilder"
         name="Breakpoint Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="org.moflon.ide.debug.annotation.processor.builder.BreakpointBuilder">
         </run>
      </builder>
   </extension>
</plugin>
