#**### @param $attr - the attribute
#**### @param $owner - the owner of the attr 
#**### @param $value - the new value
#**### @return $setter
#**### @return $getter
#**##set( $getter = "${sourceName}.get#if($utility.nullIfEmpty($range))From#end$!multi$targetRoleName ($!mparam$!range)" )
#**##set( $iterator = "${sourceName}.get$targetRoleName ($!mparam$!range).iterator()" )
#**##if( $toOne || $multi)
#*   *##set( $contains = "$targetName == $getter" )
#**##elseif( $indmulti )
#*   *##set( $contains = "${sourceName}.$indmulti$!targetRoleName ($mparam)" )
#**##else
#*   *##if ( $targetRoleName != "" )
#*   *##set( $contains = "${sourceName}.get$targetRoleName().contains (#if($range)$range, #end$targetName)" )
#*   *##else
#*   *##set( $contains = "${sourceName}.contains (#if($range)$range, #end$targetName)" )
#*   *##end
#**##end
#**##set( $nullSetter = "${sourceName}.set$targetRoleName (null)" )
#**##set( $setter = "${sourceName}.set$targetRoleName ($targetName)" )
#**##if ( $targetRoleName != "" )
#*   *##if ( $cmulti )
#*   *##set( $adder = "${sourceName}.add$cmulti$targetRoleName (#if($range)$range, #end$targetName)" )
#*   *##else
#*   *##set( $adder = "${sourceName}.addTo$targetRoleName (#if($range)$range, #end$targetName)" )
#*   *##end
#*   *##set( $remover = "${sourceName}.removeFrom$targetRoleName ($targetName)" )
#**##else
#*   *##set( $adder = "${sourceName}.add ($targetName)" )
#*   *##set( $remover = "${sourceName}.remove ($targetName)" )
#**##end
#**##if ( $targetRoleName != "" )
#*   *##set( $size = "${sourceName}.sizeOf$targetRoleName ()" )
#**##else
#*   *##set( $size = "${sourceName}.size ()" )
#**##end