<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.maave.tool.symbolicgraphs.SymbolicgraphsPackage" genModel="model/Symbolicgraphs.genmodel" uri="platform:/plugin/org.moflon.maave.tool.symbolicgraphs/model/Symbolicgraphs.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.maave.tool.symbolicgraphs.SymbolicGraphMorphisms.SymbolicGraphMorphismsPackage" genModel="model/Symbolicgraphs.genmodel" uri="platform:/plugin/org.moflon.maave.tool.symbolicgraphs/model/Symbolicgraphs.ecore#//SymbolicGraphMorphisms"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.maave.tool.symbolicgraphs.SymbolicGraphs.SymbolicGraphsPackage" genModel="model/Symbolicgraphs.genmodel" uri="platform:/plugin/org.moflon.maave.tool.symbolicgraphs/model/Symbolicgraphs.ecore#//SymbolicGraphs"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.maave.tool.symbolicgraphs.ApplicationConditions.ApplicationConditionsPackage" genModel="model/Symbolicgraphs.genmodel" uri="platform:/plugin/org.moflon.maave.tool.symbolicgraphs/model/Symbolicgraphs.ecore#//ApplicationConditions"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.maave.tool.symbolicgraphs.Datastructures.DatastructuresPackage" genModel="model/Symbolicgraphs.genmodel" uri="platform:/plugin/org.moflon.maave.tool.symbolicgraphs/model/Symbolicgraphs.ecore#//Datastructures"/>
  </extension>
</plugin>
