#**##if( $removeYou || !$superClass || $superClass.hasKeyInStereotypes("reference") )
#*   *#   public void removeYou()##
#*   *##if ( $interface )
#*      *#;
#*   *##else
#*      *#
#*      *#   {
#*      *#      ${imports.shortName('org.eclipse.emf.ecore.util.EcoreUtil')}.delete(this, true);
#*      *#   }
#*   *##end
#**##end
