#**##parse( "jmi/default:storyPattern/object/import.vm" )
#**##set( $secondName = $secondObject.ObjectName )
#**##set( $secondSet = $secondObject.isSet() )
#**#// check isomorphic binding
#**#JavaSDM.ensure ( ##
#**##if( $secondSet )
#*   *#!${secondName}.contains ($name)##
#**##else
#*   *#!${name}.equals ($secondName)##
#**##end
#**# );
