#**##parse( "jmi/default:statechart/transition/import.vm" )
#**### TODO dirty bugfix to copy signals params
#**##set( $statechart = $token.Parent.Element )
#**##set( $class = $statechart.ParentElement )
#**##set( $method = $class.getFromMethodsByShortName($eventName) )
#**###
#**##if( $after || $when )
#*   *#
#*   *#public void $eventName()
#*   *#{
#*   *#   FEvent event = new FEvent ("$eventName" );
#*   *#   myFReactive.enqueueEvent (event, FReactive.INTERNAL_EVENT);
#*   *#   myFReactive.notifyMe ();
#*   *#}
#*   *#
#**##end
#**##if ( !$utility.isNullOrEmpty($action) )
#*   *#
#*   *#public void $actionName(##
#*   *### TODO dirty bugfix to copy signals params
#*   *##set( $params = $method.iteratorOfParam() )
#*   *##parse( "jmi/default:classDiag/method/params.vm" )
#*   *#)
#*   *#{
#*   *#   $action;
#*   *#}
#*   *#
#**##end
#**##if( $guardText )
#*   *#
#*   *#public boolean $guardName(##
#*   *### TODO dirty bugfix to copy signals params
#*   *##set( $params = $method.iteratorOfParam() )
#*   *##parse( "jmi/default:classDiag/method/params.vm" )
#*   *#)
#*   *#{
#*   *#   return ($guardText);
#*   *#}
#*   *#
#**##end
