#**###
#**##parse("$lang/hibernate:classDiag/hibernate/import.vm")
#* *##if($isComposition)
#*    *##set($hibernate_cascade = "@Cascade ( value = CascadeType.ALL )")
#* *##else
#*    *##set($hibernate_cascade = "@Cascade ( value = {CascadeType.PERSIST, CascadeType.REFRESH, CascadeType.MERGE, CascadeType.SAVE_UPDATE} )")
#* *##end
#**###
#* *##if($hibernate_partnerIsInterface && $hibernate_partnerChildrenCount > 1)
#*    *##set($hibernate_relation = "@ManyToAny")
#* *##elseif($toMany && $partnerToMany ||
	              ($hibernate_partnerIsInterface && $hibernate_partnerChildrenCount == 1 && $toMany && $partnerToMany ))
#*    *##set($hibernate_relation = "@ManyToMany")
#* *##elseif(($toMany && !$partnerToMany) ||
	              ($hibernate_partnerIsInterface && $hibernate_partnerChildrenCount == 1 && $toMany && !$partnerToMany ))
#*    *##set($hibernate_relation = "@OneToMany")
#* *##end
#**###
#* *##if($hibernate_partnerIsInterface)
#*    *##if($hibernate_partnerChildrenCount > 1)
#*       *##set($hibernate_meta = "(metaColumn = @Column ( name = $DQ$name$hibernate_typeString$DQ), fetch = FetchType.EAGER )
   @AnyMetaDef( idType = ${DQ}integer$DQ, metaType = ${DQ}string$DQ, metaValues = {
   #foreach($hibernate_class in $hibernate_partnerChildrenList)
	@MetaValue ( value = $DQ$hibernate_class$DQ, targetEntity = $hibernate_class$hibernate_classString ),
   #end })")
#*    *##end
#* *##end
#**###
#* *##if($hibernate_isOwner)
#*    *##set($tableName = "$utility.camelToUpperCase($!partnerRole.AttrName)_TO_$utility.camelToUpperCase($name)")
#*    *##set($tableColumnName = "$utility.camelToUpperCase($!partnerRole.AttrName)$utility.camelToUpperCase($hibernate_idString)")
#*    *##set($tableInverseColumn = "$utility.camelToUpperCase($name)$utility.camelToUpperCase($hibernate_idString)")
#*    *##set($hibernate_join = "@JoinTable  ( name = $DQ$tableName$DQ,   
   joinColumns = @JoinColumn (name = $DQ$tableColumnName$DQ),
   inverseJoinColumns = @JoinColumn (name = $DQ$tableInverseColumn$DQ)) ")
#* *##end
#**###
#* *##if($hibernate_targetEntity && !$hibernate_mappedBy)
#*    *##set($hibernate_mapping = " (targetEntity = $hibernate_partnerChild$hibernate_classString)")
#* *##elseif(!$hibernate_targetEntity && $hibernate_mappedBy)
#*    *##set($hibernate_mapping = " (mappedBy = $DQ$!partnerRole.AttrName$DQ)" )
#* *##elseif($hibernate_targetEntity && $hibernate_mappedBy)
#*    *##set($hibernate_mapping = "(targetEntity = $hibernate_partnerChild$hibernate_classString,
      mappedBy = $DQ$!partnerRole.AttrName$DQ)")
#* *##end