#**##parse("java/breaks:storyPattern/import.vm")
#**##if( $children )
#*   *##set( $elem = $token.storyPattern )
#*   *##set( $name = $elem.Name )
#*   *##if($flowUtil.needsStoryBlock($token))
#*      *##set( $children = $utility.indent("   ",$!children) )
#*      *##set($depth = $flowUtil.getPatternDepth($token))
#*   *#pattern#if($depth>0)$depth#end##
#*      *#: // story pattern $!name
#*      *#{
#*      *#   fujaba__Success = true; 
#*      *#
#*      *#$!children##
#*      *#}
#*   *##else
#*      *#// simple story pattern $!name
#*      *#fujaba__Success = true; 
#*      *#
#*      *#$!children
#*   *##end
#**##end