#**##parse("java/breaks:storyPattern/object/import.vm" )
#**##if ( ${class.InheritedCodeStyle} )#set( $style = "$lang/${class.InheritedCodeStyle.Name}:" )
#**##else#set( $style = "$lang/default:" )#end
#*   *##if ( $optional )
#*      *#if ($name != null)
#*      *#{
#*   *##end
#*   *##parse("$!{style}storyPattern/object/deleteObject.vm" )
#*   *##if ( $optional )
#*      *#
#*      *#}
#*   *##end
#*   *#
#*   *#
