#**##parse("java/breaks:storyPattern/object/import.vm" )
#**##set( $secondName = $secondObject.ObjectName )
#**##set( $opComment = "isomorphic binding check between objects $name and $secondName" )
#**##set( $secondSet = $secondObject.isSet() )
#**##set( $firstSet = $object.isSet() )
#**##if( $secondSet )
#*   *##set($condition = "!${secondName}.contains ($name)")
#**##elseif( $firstSet )
#*   *##set($condition = "!${object.name}.contains ($secondName)")
#**##else
#*   *##set($condition = "!${name}.equals ($secondName)")
#**##end
#**##parse("java/breaks:storyPattern/condition.vm" )
#**### TODO sets
