<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="DemoclesAttributeConstraints.DemoclesAttributeConstraintsPackage" genModel="model/DemoclesAttributeConstraints.genmodel" uri="platform:/plugin/DemoclesAttributeConstraints/model/DemoclesAttributeConstraints.ecore"/>
  </extension>
</plugin>
