#**##set( $package = $elem )
#**##if( !$package.Parent )
#*   *### do nothing
#**##else
#*   *##set( $name = $package.Name )
#*   *##set( $fullname = $package.FullPackageName )
#*   *##set( $children = $utility.indent("  ",$!children) )
#*   *##set( $fullpath = $utility.packageToPath($package.FullPackageName) )
#*   *##set( $roots = $engine.getFromInformation("rootPackages") )
#*   *##if( $roots.hasInRootPackages($package) )## RootPackage
#*      *##set( $path = "models" )
#*      *##set( $fileName = "${package.Project.Name}_$fullname" )
#*      *#<?xml version="1.0" encoding="UTF-8"?>
#*      *#<ecore:EPackage xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
#*      *#    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" name="$name" nsURI="http:///${fullpath}.ecore" nsPrefix="$fullname">
#*      *#$!children##
#*      *#
#*      *##set( $imports = $engine.getFromInformation("imports") )
#*      *##foreach( $import in $imports.iteratorOfImports() )
#*         *#  <eClassifiers xsi:type="ecore:EClass" name="$imports.shortName($import)" instanceClassName="$import"/>
#*      *##end
#*      *#</ecore:EPackage>
#*   *##else
#*      *#<eSubpackages name="$name" nsURI="http:///${fullpath}.ecore" nsPrefix="$fullname">
#*      *#$!children##
#*      *#</eSubpackages>
#*   *##end
#**##end