#**##set( $class = $elem )
#**##set( $name = $class.Name )
#**##set( $interface = $utility.isInterface($class) )
#**##set( $abstract = $class.isAbstract() )
#**##set( $static = $class.isStatic() )
#**##set( $final = $class.hasKeyInStereotypes("final") )
#**##set( $visibility = $utility.getVisibilityString($class.Visibility) )
#**##set( $strictfp = $class.hasKeyInStereotypes("strictfp") )
#**##set( $superClass = $class.getSuperClass() )
#**##set( $comment = $utility.indent(" * ", $class.Comment.Text ) )
#**##set( $parsed = $class.isParsed() )
#**##set( $children = $utility.indent("   ",$!children) )