#**##parse("java/breaks:storyPattern/attribute/import.vm" )
#**##parse("java/breaks:classDiag/attribute/accessors.vm" )
#**##set( $attrType = $attr.getInstanceOf().getAttrType().getName() )
#**##set( $opComment = "attribute condition $attrName $attrOp $attrExpr" )
#**##if( !$useMethods )
#*   *##if($static)
#*      *#$engine.warning("static attribute access does not make sense here",$elem)
#*   *##end
#*   *##set( $getter = "${name}.$attrName" )
#**##end
#**##if ( $attrOp == "== RegExp:" )
#*   *##set($condition = "($getter != null) && ${imports.shortName('java.util.regex.Pattern')}.matches ($attrExpr, $getter)")
#**##elseif ( $attrType == "String" )
#*   *##set($condition = "($getter == $attrExpr) || ($getter != null && ${getter}.equals($attrExpr))")
#**##if ( $attrOp == "!=" )#set( $condition = "!($condition)" )#end
#**##else
#*   *##set($condition = "$getter $attrOp $attrExpr")
#**##end
#**##parse("java/breaks:storyPattern/condition.vm" )
