#**##if ( $toMany || $qualified )
#*   *##set( $container = "F$!{prop}HashSet" )
#*   *##if( $sorted )
#*      *##if( $utility.nullIfEmpty($comparator) )
#*         *##set( $constParams = "new $comparator ()" )
#*      *##end
#*      *##set( $container = "F$!{prop}TreeSet" )
#*   *##end
#*   *##if( $qualified )
#*      *##if( $toMany )
#*         *##set( $container = "F$!{prop}DuplicatedHashMap" )
#*      *##else
#*         *##set( $container = "F$!{prop}HashMap" )
#*      *##end
#*   *##end
#*   *##if( $ordered )
#*      *##set( $container = "F$!{prop}LinkedList" )
#*   *##end
#*   *##if( $ordered )
#*      *##set( $linkedList = " && !this.hasIn$methodSuffix (value)" )
#*   *##end
#*   *##if( $prop )
#*      *##if( $constParams )
#*         *##set( $constParams = "$constParams, this, PROPERTY_$utility.camelToUpperCase($name)" )
#*      *##else
#*         *##set( $constParams = "this, PROPERTY_$utility.camelToUpperCase($name)" )
#*      *##end
#*   *##end
#**##else
#*   *##set( $container = $type )
#**##end
#**##set( $backlinkSource = "this" )