<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.emf.ecore.factory_override">
    <factory class="org.moflon.properties.MoflonPropertyContainerCustomizedFactory" uri="platform:/plugin/MoflonPropertyContainer/model/MoflonPropertyContainer.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="MoflonPropertyContainer.MoflonPropertyContainerPackage" genModel="model/MoflonPropertyContainer.genmodel" uri="platform:/plugin/MoflonPropertyContainer/model/MoflonPropertyContainer.ecore"/>
  </extension>
</plugin>
