<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="DebugLanguage.DebugLanguagePackage" genModel="model/DebugLanguage.genmodel" uri="platform:/plugin/DebugLanguage/model/DebugLanguage.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="DebugLanguage.DebugGenerics.DebugGenericsPackage" genModel="model/DebugLanguage.genmodel" uri="platform:/plugin/DebugLanguage/model/DebugLanguage.ecore#//DebugGenerics"/>
  </extension>
</plugin>
