#**##if ( $reflective )
#*   *##if ( $link.name == "classHandler" )
#*      *#de.uni_kassel.features.util.FeaturesUtil.getClassHandler( ${sourceName} )##
#*   *##else
#*      *#de.uni_kassel.features.util.FeaturesUtil.hasInLink( ${sourceName}, ${link.name}, ${targetName} )##
#*   *##end
#**##elseif ( $toOne || $multi )
#*   *#${targetName}.equals (${sourceName}.$link.name)##
#**##elseif ( $indmulti )
#*   *#${sourceName}.$indmulti$!targetRoleName ($mparam)
#**##else
#**#${sourceName}.#if(!$targetRoleName)contains#else##
#**#hasIn#end$!targetRoleName (#if($range)$range, #end
#*   *#$targetName)##
#**##end