#**##parse("$lang/default:classDiag/assoc/import.vm" )
#**##parse("$!{style}classDiag/assoc/container.vm" )
#**##parse("$!{partnerStyle}classDiag/assoc/backlink.vm" )
#**##if ( $role.hasKeyInStereotypes("static") )
#*   *##set( $staticMarker = "static " )
#*   *##set( $this = $partnerRole.Target.Name )
#**##else
#*   *##set( $this = "this" )
#**##end
#**#
#**##set( $opComment = "assoc $partnerRole.Target.Name --#if($ref)>#else-#end $type" )
#**#/**
#**# * <pre>
#**# *           $!partnerRole.Card.CardString     $role.Assoc.Name     $role.Card.CardString
#**# * $partnerRole.Target.Name ------------------------#if($ref)>#else-#end $type
#**# *           $!partnerRole.AttrName               $name
#**# * </pre>
#**##if( $assocComment )
#*   *# *
#*   *# * $assocComment
#**##end
#**##if( $roleComment )
#*   *# *
#*   *# * $roleComment
#**##end
#**# */
#**##if ($prop || $annotationsEnabled)
#*   *#public static final String PROPERTY_$utility.camelToUpperCase($name) = "$name";
#**##end
#**###
#**##set( $classToImport = $role.Target )
#**##if ( ${classToImport.InheritedCodeStyle} )#set( $importStyle = "$lang/${classToImport.InheritedCodeStyle.Name}:" )
#**##else#set( $importStyle = "$lang/default:" )#end
#*   *##parse("$!{importStyle}classDiag/class/addClassImport.vm" )
#*   *###
#*   *##if ( $qualified )
#*      *##set( $classToImport = $qualified.Type )
#*      *##if ( ${classToImport.InheritedCodeStyle} )#set( $importStyle = "$lang/${classToImport.InheritedCodeStyle.Name}:" )
#*      *##else#set( $importStyle = "$lang/default:" )#end
#*         *##parse("$!{importStyle}classDiag/class/addClassImport.vm" )
#*      *##end
#*      *##if( $qualified )
#*         *##parse("$!{style}classDiag/assoc/toMany.vm" )
#*         *##parse("$!{style}classDiag/assoc/qualified.vm" )
#*         *##if( $toMany )
#*            *##parse("$!{style}classDiag/assoc/qualifiedToMany.vm" )
#*         *##else
#*            *##parse("$!{style}classDiag/assoc/qualifiedToOne.vm" )
#*         *##end
#*         *##if( $internalQualified )
#*            *##parse("$!{style}classDiag/assoc/internalQualified.vm" )
#*         *##end
#*      *##else
#*         *##if( $toMany )
#*            *##parse("$!{style}classDiag/assoc/toMany.vm" )
#*         *##else            
#*            *##parse("$!{style}classDiag/assoc/toOne.vm" )
#*         *##end
#*      *##end
