#**##parse("$lang/default:classDiag/assoc/annotationShort.vm")
#**#$visibility Iterator<? extends $type> iteratorOf$methodSuffix ($key key)
#**#{
#**#   return ((this.$name == null)
#**#           ? FEmptyIterator.<$type>get ()
#**#           : FCollections.iterator (this.${name}.values (key)));
#**#}
#**#
#**##parse("$lang/default:classDiag/assoc/annotationShort.vm")
#**#$visibility int sizeOf$methodSuffix ($key key)
#**#{
#**#   return ((this.$name == null)
#**#           ? 0
#**#           : this.${name}.size (key));
#**#}
