<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
    <diagramTextProvider providerClass="org.moflon.ide.visualization.dot.tgg.delta.DeltaDiagrammTextProvider"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.ide.visualization.dot.tgg.delta.DeltaPackage" genModel="model/Delta.genmodel" uri="platform:/plugin/org.moflon.ide.visualization.dot.tgg.delta/model/Delta.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.ide.visualization.dot.tgg.delta.Rules.RulesPackage" genModel="model/Delta.genmodel" uri="platform:/plugin/org.moflon.ide.visualization.dot.tgg.delta/model/Delta.ecore#//Rules"/>
  </extension>
</plugin>
