#**##set( $afterfirst = false )
#**##set( $children = $mofutility.indent("   ",$!children) )
#**#// check optional
#**#if (##
#**##foreach( $candidate in $objects )
#*   *#  #if ( $afterfirst )
#*      *# && ##
#*   *#  #else
#*      *#    #set( $afterfirst = true )
#*   *#  #end
#*   *#  #set( $object = $candidate.Ref )
#*   *#  #set( $name = $object.ObjectName )
#*   *#  #if ( $object.isSet() )
#*      *#    #set( $name = "fujaba__TmpObject$mofutility.upFirstChar($name)" )
#*   *#  #end
#*   *#$name != null##
#**##end
#**#)
#**#{
#**#$children
#**#}