<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension id="org.moflon.gt.ide.natures.EMoflonGTNature" name="eMoflon-GT Nature" point="org.eclipse.core.resources.natures">
        <runtime>
            <run class="org.moflon.gt.ide.natures.EMoflonGTNature"></run>
        </runtime>
        <requires-nature id="org.eclipse.jdt.core.javanature"></requires-nature>
        <builder id="org.moflon.gt.ide.builders.EMoflonGTBuilder"></builder>
        <one-of-nature id="org.moflon.ide.core.runtime.natures.MoflonNature"></one-of-nature>
    </extension>
    <extension id="org.moflon.gt.ide.builders.EMoflonGTBuilder" name="eMoflon-GT Builder" point="org.eclipse.core.resources.builders">
        <builder isConfigurable="true">
            <run class="org.moflon.gt.ide.builders.EMoflonGTBuilder"></run>
        </builder>
    </extension>
</plugin>