#* *##foreach( $rol in $theClass.iteratorOfRoles() )
#*   *#		
#*   *##if ($rol.getRevLeftRole())
#*      *#		crole = new CRole();
#*      *#		crole.setName("$rol.name");
#*      *##set ( $umlCardinality = $rol.getCard() )
#*      *#		ccardinality = new CCardinality();
#*      *#		upperBound = $umlCardinality.getUpperBound();
#*      *#		if (upperBound == 0) {
#*      *#			 ccardinality.setCardString("0");
#*      *#		} else if (upperBound == 1) {
#*      *#			ccardinality.setCardString("1");
#*      *#		} else {
#*      *#			ccardinality.setCardString("n");
#*      *#		}
#*      *#		crole.setCCardinality(ccardinality);
#*      *#		
#*      *##set ( $assoc = $rol.getAssoc() )
#*      *#		cassoc = new CAssoc();
#*      *#	    cassoc.setName("$assoc.getName()");
#*      *#	    cassoc.addToCRole(crole);
#*      *#		crole.setCAssoc(cassoc);
#*      *##set ( $targetClass = $rol.getTarget() )
#*      *#		tClass = ModelRoot.get().getCClass("$targetClass.getFullClassName()");
#*      *#		tClass.addToCRoles(crole);
#*      *#		
#*      *#		rightRole = new CRole();
#*      *##set ( $rrole = $assoc.getRightRole() )
#*      *#		rightRole.setName("$rrole.getName()");
#*      *##set ( $umlTwo = $rrole.getCard() )
#*      *#		ccardinality = new CCardinality();
#*      *#		upperBound = $umlTwo.getUpperBound();
#*      *#		if (upperBound == 0) {
#*      *#			 ccardinality.setCardString("0");
#*      *#		} else if (upperBound == 1) {
#*      *#			ccardinality.setCardString("1");
#*      *#		} else {
#*      *#			ccardinality.setCardString("n");
#*      *#		}
#*      *#		rightRole.setCCardinality(ccardinality);
#*      *#		cassoc.addToCRole(rightRole);
#*      *#		
#*      *#		// Add role to CClass
#*      *##set ( $targetClass = $rrole.getTarget() )
#*      *#		iter = ModelRoot.get().iteratorOfCClasses();
#*      *#		while(iter.hasNext()) {
#*      *#			CClass theCClass = (CClass) iter.next();
#*      *#			
#*      *#			if ( theCClass.getName().equals("$targetClass.getFullClassName()")) {
#*      *#				theCClass.addToCRoles(rightRole);
#*      *#				break;
#*      *#			}
#*      *#		}
#*   *##end
#* *##end
#* *##set($theOldClass = $theClass)
#* *##foreach ( $theClass in $theOldClass.iteratorOfSubClasses() )
#*    *##parse("$lang/GWT/classDiag/class/classassociation.vm")
#* *##end