#* *##if ( !$utility.isInterface($gwtClass) )
#*  *#		/*********************************
#*  *#		Generate CClass $gwtClass.FullClassName
#*  *#		*********************************/
#*  *#		cclass = new CClass ();
#*  *#		cclass.setName("$gwtClass.getFullClassName()");
#*  *#		ModelRoot.get().addToCClasses(cclass);
#*  *#			
#*  *#		
#*  *#		// add attributes to cclass
#*  *##foreach( $attr in $gwtClass.iteratorOfAllAttrs() )
#*    *#		cattr = new CAttribute();
#*    *#		cattr.setName ("$attr.name");
#*    *##set ( $attrType = $utility.getProgLangWrapperType($attr.AttrType) )
#*    *##if ( "$attrType" != "null" )
#*      *#		cattr.setType("$attrType");
#*    *##end        
#*    *#		cclass.addToCAttributes (cattr); 
#*    *#
#*  *##end 
#*  *#		//add methods
#*  *##foreach( $m in $gwtClass.iteratorOfMethods() )
#*     *#		cmeth = new CMethod();
#*     *#		cmeth.setName("$m.getFullMethodName()");
#*     *#		cmeth.setCClass(cclass);
#*     *#		
#*  *##end
#*  *##set($oldGwtClass = $gwtClass)
#*  *##foreach ( $gwtClass in $oldGwtClass.iteratorOfSubClasses() )
#*     *##parse("$lang/GWT/classDiag/class/classstructure.vm")
#*  *##end
#*    *#
#* *##end
