#**##set( $sel = $token )
#**##set( $exceptionText = $sel.ExceptionUMLTransitionGuard.BoolExpr )
#**###set( $comment = $thenTrans.Comment.Text )
#**##set( $children = $mofutility.indent("   ",$!children) )
#**##set( $exception = $mofutility.indent("   ",$!exception) )
#**##if( $comment )
#*   *#// $comment
#**##end
#**#try
#**#{
#**#$!children##flowActivity
#**#}
#**#catch ($exceptionText)
#**#{
#**#$!exception##exception case
#**#}
#**#$!default
