#**##set( $statechart = $elem )
#**##set( $name = $statechart.Name )
#**##set( $class = $statechart.owner )
#**##set( $className = $class.Name )
#**##set( $statechartClassConstructor = $class.getFromMethodsByShortName($className) )
#**##set( $return = $imports.addToImports("de.upb.tools.sdm.*") )

#*check for stereotype <<actioncontainer>> and generate specific code*#
##if( $elem.ParentElement.owner.hasKeyInStereotypes("ActionContainer") )
#**##set( $return = $imports.addToImports("fujaba.fullruntime.*") )
#end

#**##set( $return = $imports.addToImports("de.upb.tools.sdm.*") )
#**##set( $children = $utility.indent("   ",$!children) )
#**##set( $transitions = $utility.indent("   ",$!transitions) )
#**##if ( ${class.InheritedCodeStyle} )#set( $style = "$lang/${class.InheritedCodeStyle.Name}:" )
#**##else#set( $style = "java/default:" )#end