#**#// bind object
#**##set( $typeCast = (!$role.target.equals($target.getInstanceOf())) )
#**##if ( $role.getTarget().hasKeyInStereotypes("Stereotype") )
#*   *##set( $variableType = "EObject" )
#**##else
#*   *##set( $variableType = "${role.target.name}" )
#**##end
#**##set( $source = "($variableType)${sourceName}.eGet(${sourceName}.eClass().getEStructuralFeature("+'"'+"${role.attrName}"+'"'+"))" )
#**##parse("$!{style}storyPattern/object/assign.vm" )##
#**#$!children##