#* *##set($DQ = '"')
#* *##set($hibernate_iAmHibernate = $partnerRole.Target.hasKeyInStereotypes("hibernate"))
#* *##set($hibernate_partnerIsHibernate = $role.Target.hasKeyInStereotypes("hibernate"))
#* *##set($hibernate_iAmInterface = $partnerRole.Target.hasKeyInStereotypes("interface"))
#* *##set($hibernate_partnerIsInterface = $role.Target.hasKeyInStereotypes("interface"))
#* *##set($hibernate_myChildrenList = $utility.getHibernateChildrenNames($partnerRole.Target))
#* *##set($hibernate_partnerChildrenList = $utility.getHibernateChildrenNames($role.Target))
#* *##set($hibernate_myChildrenCount = $hibernate_myChildrenList.size())
#* *##set($hibernate_partnerChildrenCount = $hibernate_partnerChildrenList.size())
#* *##set($hibernate_iAmLeftRole = $role.Assoc.LeftRole.equals($role))
#* *##if($hibernate_partnerChildrenCount == 1)
#*    *##set($hibernate_partnerChild = $hibernate_partnerChildrenList.get(0))
#* *##end
#**###
#* *##set($hibernate_isOwner = false)
#* *##if($ref)
#*    *##set($hibernate_isOwner = true)
#* *##elseif($hibernate_iAmHibernate && $hibernate_partnerIsInterface)
#*    *##set($hibernate_isOwner = true)
#* *##elseif($hibernate_iAmInterface && $hibernate_partnerIsInterface && $hibernate_myChildrenCount == 1 && $hibernate_partnerChildrenCount > 1)
#*    *##set($hibernate_isOwner = true)
#* *##elseif($hibernate_iAmHibernate && $hibernate_partnerIsHibernate)
#*    *##if(!$toMany && $partnerToMany)
#*       *##set($hibernate_isOwner = true)
#*    *##elseif($hibernate_iAmLeftRole)
#*       *##set($hibernate_isOwner = true)
#*    *##end
#* *##elseif($hibernate_iAmInterface && $hibernate_partnerIsInterface && $hibernate_myChildrenCount == 1 && $hibernate_partnerChildrenCount == 1)
#*    *##if(!$toMany && $partnerToMany)
#*       *##set($hibernate_isOwner = true)
#*    *##elseif($hibernate_iAmLeftRole)
#*       *##set($hibernate_isOwner = true)
#*    *##end
#* *##elseif($hibernate_iAmInterface && $hibernate_partnerIsInterface && $hibernate_myChildrenCount > 1 && $hibernate_partnerChildrenCount > 1)
#*    *##set($hibernate_isOwner = true)
#* *##end
#**###
#* *##set($hibernate_targetEntity = false)
#* *##if($hibernate_partnerIsInterface && $hibernate_partnerChildrenCount == 1)
#*    *##set($hibernate_targetEntity = true)
#* *##end
#**###
#* *##set($hibernate_mappedBy = false)
#* *##if(!$hibernate_isOwner)
#*    *##if($hibernate_iAmHibernate && $hibernate_partnerIsHibernate)
#*       *##set($hibernate_mappedBy = true)
#*    *##elseif($hibernate_iAmHibernate && $hibernate_partnerIsInterface && $hibernate_partnerChildrenCount == 1)
#*       *##set($hibernate_mappedBy = true)
#*    *##elseif($hibernate_iAmInterface && $hibernate_myChildrenCount == 1 && $hibernate_partnerIsInterface && $hibernate_partnerChildrenCount == 1)
#*       *##set($hibernate_mappedBy = true)
#*    *##end
#* *##end