<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
 <copyright>
 </copyright>

 $Id$
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.tgg.language.LanguagePackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.tgg.language/model/Language.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.tgg.language.consistencycheck.ConsistencycheckPackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.tgg.language/model/Language.ecore#//consistencycheck"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.tgg.language.csp.CspPackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.tgg.language/model/Language.ecore#//csp"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.tgg.language.modelgenerator.ModelgeneratorPackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.tgg.language/model/Language.ecore#//modelgenerator"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.tgg.language.precompiler.PrecompilerPackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.tgg.language/model/Language.ecore#//precompiler"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.tgg.language.algorithm.AlgorithmPackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.tgg.language/model/Language.ecore#//algorithm"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.tgg.language.analysis.AnalysisPackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.tgg.language/model/Language.ecore#//analysis"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.tgg.language.analysis.decNACs.DecNACsPackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.tgg.language/model/Language.ecore#//analysis/decNACs"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.tgg.language.compiler.CompilerPackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.tgg.language/model/Language.ecore#//compiler"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.moflon.tgg.language.compiler.compilerfacade.CompilerfacadePackage" genModel="model/Language.genmodel" uri="platform:/plugin/org.moflon.tgg.language/model/Language.ecore#//compiler/compilerfacade"/>
  </extension>
</plugin>
