#**##parse("$lang/default:storyPattern/attribute/import.vm" )
#**##set( $debug = $debug || $object.firstFromDiagrams.parentElement.hasKeyInStereotypes("assert") )
#**##set( $attrType = $attr.getInstanceOf().getAttrType().getName() )
#**##set($isMetricExpression = $attr.getClass().getCanonicalName().equals("org.reclipse.patterns.structure.generator.uml.UMLMetricExpression"))
#**##if($attrType)
#*	*##if ( !$method )
#* 	  *##if ( $reflective )
#* 	     *##set( $method = "de.uni_kassel.features.util.FeaturesUtil.getAttribute( ${name} , $attrName )" )
#* 	  *##elseif ( $useMethods )
#* 	     *##if( $attrType == "Boolean" )
#* 	        *##set( $prefix = "is" )
#* 	     *##else
#* 	        *##set( $prefix = "get" )
#*      *##end
#*      *##set( $method = "${name}.$prefix$attrNameUC ()" )
#*   *##else
#*      *##if($static)
#*         *#$engine.warning("static attribute access does not make sense here",$elem)
#*      *##end
#*      *##set( $method = "${name}.$attrName" )
#*   *##end
#*	*##end
#**##end
#**##if ($isMetricExpression)
#*	*##set( $opComment = "metric expression for ${name}, the expression is: $attrExpr" )
#else
#*	*##set( $opComment = "attribute condition $attrName $attrOp $attrExpr" )
#**##end
#**#// $opComment
#**#JavaSDM.ensure ( ##
#**##if ($isMetricExpression)
#*   *##set( $return = $imports.addToImports("org.reclipse.metrics.Metrics") )
#*   *#Metrics.evaluate(${name}, "${attrExpr}")
#**##elseif ( $attrOp == "== RegExp:" )
#*   *##set( $return = $imports.addToImports("java.util.regex.*") )
#*   *#($method != null) && Pattern.matches ($attrExpr, $method)##
#**##elseif ( $reflective )
#*   *#de.uni_kassel.features.util.FeaturesUtil.objectCompare( $method, $attrExpr ) $attrOp 0##
#**##elseif ( $attrType == "String" )
#*   *#JavaSDM.stringCompare ((String) $method, $attrExpr) $attrOp 0##
#**##elseif ( $utility.isBaseType( $attr.getInstanceOf().getAttrType() ) &&  $attrType.endsWith( "Array" ) )
#*   *#java.util.Arrays.equals( $method, $attrExpr)##
#**##else
#*   *#$method $attrOp $attrExpr##
#**##end
#**##parse("$lang/default:storyPattern/sdmComment.vm")
#**# );
#**#
