#**##set( $attr = $elem )
#**##set( $object = $attr.getRevAttrs() )
#**##parse("$lang/default:storyPattern/object/import.vm" )
#**##set( $attrName = $attr.Name )
#**##if ( !$attr.instanceOf.hasKeyInStereotypes("pluralized") )
#*   *##set( $attrNameUC = $utility.upFirstChar($attrName))
#**##else
#*   *##set( $attrNameUC = $utility.upFirstChar($utility.pluralize($attrName)))
#**##end
#**##set( $attrExpr = $attr.getExpression() )
#**##set( $attrOp = $attr.getAttrOperationAsText() )
#**##set( $instanceOf = $attr.InstanceOf)
#**##set( $final = $instanceOf.isFinal() )
#**##set( $static = $instanceOf.isStatic() )
#**##set( $createMethods = 0 )
#**##set( $createMethods = $instanceOf.CreateAccessMethods )
#**##set( $constant = ($static && $final) )
#**##set( $useMethods = ($createMethods==0 || ($createMethods==2 && !$constant)))
#**##set( $reflective = $attr.isReflective() )