#**##set( $name = $object.ObjectName )
#**##set( $type = $object.InstanceOf.Name )
#**##set( $iter = "fujaba__Iter$utility.upFirstChar($name)" )
#**##set( $setName = "fujaba__TmpObject$utility.upFirstChar($name)" )
#**##set( $children = $utility.indent("   ",$!children) )
#**##set( $localVars = $engine.getFromInformation("localVars") )
#**##set( $return = $localVars.addLocalVariable($iter, "Iterator", $object) )
#**##set( $return = $localVars.addLocalVariable($setName, $object.InstanceOf, $object) )
#**#// iterate set
#**#$iter = ${name}.iterator ();
#**#while ( ${iter}.hasNext () )
#**#{
#**#   $setName = ($type) ${iter}.next ();
#**#$children
#**#} // while
