#**##if( $children )
#*   *##set( $return = $imports.addToImports("de.upb.tools.sdm.*") )
#*   *##set( $elem = $token.storyPattern )
#*   *##set( $name = $elem.Name )
#*   *##set( $withTryCatch = ! $token.storyPattern.noTryCatch )
#*   *##set( $opComment = "story pattern $!name" )
#*   *### // $opComment
#*   *##if ( $withTryCatch )
#*      *##set( $children = $utility.indent("   ",$!children) )
#*      *##set($depth = $utility.getPatternDepth($token))
#*   *#pattern#if($depth>0)$depth#end##
#*      *#: // $!name
#*      *#{
#*      *#   fujaba__Success = false; 
#*      *#
#*   *##end
#*   *#$!children##
#*   *##if( $withTryCatch )
#*      *#   fujaba__Success = true;
#*      *##if( $elem.revStoryPattern.hasKeyInStereotypes("assert") )
#*         *###   fujaba__InternalException.printStackTrace();
#*         *##set( $return = $imports.addToImports("junit.framework.AssertionFailedError") )
#*         *###   AssertionFailedError fujaba_AssertionFailedError = new AssertionFailedError(fujaba__InternalException.getStackTraceAsString());
#*         *###   fujaba_AssertionFailedError.setStackTrace(new StackTraceElement[] {});
#*         *##set( $return = $imports.addToImports("java.io.PrintWriter") )
#*         *##set( $return = $imports.addToImports("java.io.StringWriter") )
#*         *#   StringWriter fujaba_StringWriter = new StringWriter();
#*         *#   PrintWriter fujaba_PrintWriter = new PrintWriter(fujaba_StringWriter);
#*         *#   fujaba__InternalException.printStackTrace(fujaba_PrintWriter);
#*         *#   int length = fujaba__InternalException.getClass().getName().length() + 2;
#*         *#   AssertionFailedError fujaba_AssertionFailedError = new AssertionFailedError(fujaba_StringWriter.toString().substring(length));
#*         *#   fujaba_AssertionFailedError.setStackTrace(new StackTraceElement[] {});
#*         *###   AssertionFailedError fujaba_AssertionFailedError = new AssertionFailedError(fujaba__InternalException.getMessage());
#*         *###   fujaba_AssertionFailedError.setStackTrace(fujaba__InternalException.getStackTrace());
#*         *###
#*         *###   fujaba_AssertionFailedError.printStackTrace();
#*         *#   throw fujaba_AssertionFailedError;
#*      *##end
#*      *#}
#*      *#
#*   *##end
#**##end