<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="AttributeConstraintToDemocles.AttributeConstraintToDemoclesPackage" genModel="model/AttributeConstraintToDemocles.genmodel" uri="platform:/plugin/AttributeConstraintToDemocles/model/AttributeConstraintToDemocles.ecore"/>
  </extension>
</plugin>
