#**##parse("$lang/default:storyPattern/link/import.vm" )
#**#// create link
#**#${sourceName}.##
#**##if ($toOne)
#*   *#eSet(${sourceName}.eClass().getEStructuralFeature("$role.attrName"),##
#**##else
#*   *#eGet(${sourceName}.eClass().getEStructuralFeature("$role.attrName")).add(##
#**##end
#**#$targetName);
#**#if ( ${targetName}.eResource() != null )
#**#{
#**#   ${targetName}.eResource().getContents().add(${sourceName});
#**#}
#**#
