#**##parse("$lang/default:storyPattern/link/import2.vm" )
#**##if($path)
#*   *##set ($check=true)
#*   *##set( $opComment = "check path expresion $path from $sourceName to $targetName" )
#*   *#// $opComment
#*   *##parse("$!{style}storyPattern/link/toMany.vm" )
#**##else
#*   *##set( $opComment = "check link $link.InstanceOf.Name from $sourceName to $targetName" )
#*   *#// $opComment
#*   *#if (##
#**##if ( ! $linkNegative )!(#end
#*   *##parse("$!{style}storyPattern/link/linkcheck.vm" )
#**##if ( ! $linkNegative ))#end
#*   *##parse("$lang/default:storyPattern/sdmComment.vm")
#*   *##set($depth = $utility.getPatternDepth($token))
#**#) break pattern#if($depth>0)$depth#end; // <==== not a match
#*   *#
#*   *##if ( $targetMulti.TargetObject.equals($target) && ($targetMulti.SourceLink.Modifier!=2) && !$first)
#*      *##parse("$!{style}storyPattern/link/multiCheck.vm" )
#*   *##end
#**##end