#*   *##if($utility.isOriginallyNotNavigable($targetRoleName))
#*     *##set( $list = $utility.genCrossReferenceCallForCollection($sourceName, $targetType, $targetRoleName) )
#*     *##if ( $shuffleListBeforeIteration )
#*       *##set ( $list = "org.moflon.core.utilities.eMoflonEMFUtil.shuffle(${list})" )
#*     *##end
#*   *##else
#*     *##set( $optimizedName = $utility.getOptimizedCollection($source, $target))
#*     *##set( $list = "${sourceName}.get$targetRoleName(${optimizedName})" )
#*   *##end
#**##if( $forEach )
#*   *##set( $return = $imports.addToImports("java.util.ArrayList") )
#*   *#new ArrayList($list)##
#**##else
#*   *#$list##
#**##end
#**##if($mparam||$range)
#*   *#.listIterator (fujabaIndex);
#**##else
#*   *#.iterator ();
#**##end