#**##if( !$classImport )
#*   *##set( $classImport = true )
#*   *##set( $class = $elem )
#*   *##set( $hibernate_classHasSubClasses = $class.iteratorOfSubClasses().hasNext())
#*   *##set( $hibernate_classIsAbsoluteSuperClass = !$class.iteratorOfSuperClasses().hasNext())
#*   *##set( $hibernate_idString = "_id")
#*   *##set( $hibernate_superClassIsHibernateClass = $class.getSuperClass().hasKeyInStereotypes("hibernate"))
#*   *##set( $name = $class.Name )
#*   *##set( $interface = $utility.isInterface($class) )
#*   *##set( $abstract = $class.isAbstract() )
#*   *##set( $static = $class.isStatic() )
#*   *##set( $final = $class.hasKeyInStereotypes("final") )
#*   *##set( $remote = $class.hasKeyInStereotypes("remote"))
#*   *##set( $visibility = $utility.getVisibilityString($class.Visibility) )
#*   *##set( $strictfp = $class.hasKeyInStereotypes("strictfp") )
#*   *##set( $superClass = $class.getSuperClass() )
#*   *##set( $comment = $utility.indent(" * ", $class.Comment.Text ) )
#*   *##set( $parsed = $class.isParsed() )
#*   *##if ( ${class.InheritedCodeStyle} )#set( $style = "$lang/${class.InheritedCodeStyle.Name}:" )
#*   *##else#set( $style = "java/default:" )#end
#*   *##end