#**### WARNING: Here $key refers to key type of other side of Association!
#**##if( $toMany )
#*   *#tmpIter$methodSuffix = tmpList$methodSuffix.iterator ();
#*   *#while (tmpIter$methodSuffix.hasNext ())
#*   *#{
#*   *#   $type tmp$methodSuffix = ($type)tmpIter$methodSuffix.next ();
#*   *#   $key tmpKey$methodSuffix = ($key)tmpIter$methodSuffix.next ();
#*   *#    tmp$methodSuffix.keyChangedIn$PARTNERMETHOD_SUFFIX$ (tmpKey$methodSuffix, this);
#*   *#}
#**##else
#*   *#if (tmp$methodSuffix != null)
#*   *#{
#*   *#   tmp$methodSuffix.keyChangedIn$PARTNERMETHOD_SUFFIX$ (tmpKey$methodSuffix, this);
#*   *#}
#**##end